[2013-09-23 04:15] MichaelCurrie opened #1 "Render more worm attributes in matplotlib"
Play with matplotlib to try rendering the worm in different ways, such as rendering information about ventral/dorsal orientation and the body contour of the worm.

[2013-09-23 04:15] MichaelCurrie opened #2 "Display time information about the worm in the plot"

[2013-09-23 04:16] MichaelCurrie opened #3 "Try replicating some of the Schafer Worm Tracker 2.0 interface in the matplotlib worm visualizer."
Try replicating some of this function in the worm visualizer:
http://www.mrc-lmb.cam.ac.uk/wormtracker/index.php?action=analysis

[2013-09-23 04:16] MichaelCurrie opened #4 "Fix the flicker in the render"
Work on fixing the flicker that is currently appearing in the rendering, by using an animation module accounting for dropped frames (these show up as NaNs in the worm skeleton data).

[2013-09-23 04:17] MichaelCurrie opened #5 "Attempt to integrate Peter McCluskey's code gist into this repo"
Look at Peter McCluskey’s code and see if it could be used for our purposes as well.

https://gist.github.com/PeterMcCluskey/6418155

[2013-09-23 04:17] MichaelCurrie opened #6 "Try a scatterplot of worm position over time."
Time is given by info.video.length.time in the experiment file

[2013-09-23 04:18] MichaelCurrie opened #7 "Document all of the structure of the worm experiment files"
Add to the existing documentation that Jim has done on the structure of the worm data in these files, including perhaps the fields not in the “worm” structure

[2013-09-23 04:24] MichaelCurrie opened #8 "Understand how to read ASCII-encoded parts of the .MAT experiment files"

[2013-09-23 04:34] MichaelCurrie opened #9 "Consider representing the Schafer FTP server as a Git-Annex"
http://git-annex.branchable.com/

(A suggestion from David Dalrymple)

AndrewPa had created a "File Hoover" to grab files from the Schafer FTP server.

https://gist.github.com/AndrewPa/5855669

There is concern that this FTP server is not a long-term stable source for these files, so it may not be a good idea to pursue this.

[2013-09-23 05:08] MichaelCurrie opened #10 "Add the information @slarson had in the inital comment on overall openworm issue 82 to the documentation"
E.g. a link to https://groups.google.com/forum/?fromgroups#!searchin/openworm-discuss/worm$20behavior/openworm-discuss/Fhbnag_FHsY/s18gywbjOHcJ

Also plenty of other good information.

[2013-09-23 05:17] MichaelCurrie opened #11 "Have WormExperimentFile.create_animation(self) take a num_frames parameter"
So that the user can specify what length of animation to create.  Have the parameter be optional and default to all frames.

[2013-11-07 22:15] MichaelCurrie opened #15 "Add "struct" dereferencing"
Incorporate this structure:

wormFile["worm"]["locomotion"]["motion"]["backward"]["frames"]["distance"].value

from https://gist.github.com/JimHokanson/6420348

Currently the only structure explored is this one:

skeletonX = wormFile["worm"]["posture"]["skeleton"]["x"].value
skeletonY = wormFile["worm"]["posture"]["skeleton"]["y"].value

[2013-11-21 00:35] MichaelCurrie opened #16 "Have GitHub ignore updates to __pycache__ when syncing the repo"
Here is an explanation of how to do this: https://help.github.com/articles/ignoring-files

[2013-11-25 06:46] #16 closed, assigned to nobody

[2013-11-25 10:11] #4 closed, assigned to MichaelCurrie

[2013-12-01 07:42] MichaelCurrie opened #17 "Add full DropBox integration"
https://www.dropbox.com/developers/core/start/python

[2013-12-02 06:56] MichaelCurrie opened #18 "Display features in a coloured grid-chart just like in the Yemini paper"
viz. page 7 of the supplementary data, or on page 2 of the advance online paper:

A database of C. elegans behavrioral phenotypes, by Yemini et. al, in the journal Nature Methods

![image](https://f.cloud.github.com/assets/5267078/1652704/5dd60ce8-5b1e-11e3-910b-4dd5bef609d1.png)

[2013-12-09 07:38] MichaelCurrie opened #19 "Edit the pipeline documentation to show graphics at each step"
E.g. show the raw worm, then the contour, then measurements like width, etc., then features, then stats.

[2013-12-09 07:45] MichaelCurrie opened #20 "move pipeline md to documentation, and move all data files out of root path"
and document where they are (in worm_data shared dropbox folder)

[2013-12-09 22:49] #19 closed, assigned to nobody

[2013-12-09 23:07] MichaelCurrie opened #21 "Name the test harness / open source WT2 project"
This project deserves a name, that captures the three goals of the project to
1. create an open source version of WT2
2. create a real/virtual worm statistical test harness
3. track of the statistics for multiple worms in a database

[2013-12-09 23:12] MichaelCurrie opened #22 "Understand degree of convertibility between contour and skeleton"
If we take submissions of skeleton movements, how will we handle the lack of a contour? To what extent can we determine the contour from some default worm shape?
-Jim

[2013-12-14 06:06] MichaelCurrie opened #23 "Error: Non-negative bend stddevs are zero"
sign_array = - np.ones(np.shape(mask)) \* mask

must be changed to add ~mask \* np.ones(np.shape(mask))

[2013-12-15 01:55] #23 closed, assigned to nobody

[2013-12-15 02:52] #20 closed, assigned to nobody

[2013-12-15 05:46] MichaelCurrie opened #24 "Put hardcoded configuration settings in a config.py file"
Move N_ECCENTRICITY and any other hardcoded values to a config.py file.

[http://stackoverflow.com/questions/6198372/most-pythonic-way-to-provide-global-configuration-variables-in-config-py](http://stackoverflow.com/questions/6198372/most-pythonic-way-to-provide-global-configuration-variables-in-config-py)

[http://docs.python.org/2/library/configparser.html](http://docs.python.org/2/library/confi

[2013-12-17 06:06] MichaelCurrie opened #25 "Provide @vellamike with an example simulation output file"
As per [this discussion](https://github.com/openworm/OpenWorm/issues/154#issuecomment-30705296)

[2013-12-17 22:50] MichaelCurrie opened #26 "Translate morphology features"

[2013-12-17 22:51] MichaelCurrie opened #27 "Translate posture features"

[2013-12-17 22:51] MichaelCurrie opened #28 "Translate locomotion features"

[2013-12-17 22:51] MichaelCurrie opened #29 "Translate path features"

[2013-12-17 22:52] #26 closed, assigned to MichaelCurrie

[2013-12-17 23:14] MichaelCurrie opened #30 "Test features against SegwormMatLabClasses code"

[2013-12-18 16:52] #24 closed, assigned to MichaelCurrie

[2013-12-26 16:02] MichaelCurrie opened #31 "Fix dependency: getCoils requires locomotion.velocity"
Awkward dependencies:
- coiling - seg_worm.feature_helpers.posture.getCoils - requires
  worm.locomotion.velocity.midbody.speed

[2013-12-29 22:55] MichaelCurrie opened #32 "Use subclassing in animation code"
http://matplotlib.org/1.3.0/examples/animation/subplots.html

[2013-12-31 05:46] #32 closed, assigned to MichaelCurrie

[2014-01-02 18:57] MichaelCurrie opened #33 "Add data from MRC supplemental information to feature spreadsheet"
2013 - Yemini et al. - Supplementary Data - nmeth.2560-S1.pdf contains a description in words for each feature.

Consider adding a matplotlib illustration for each feature as well.

[2014-01-02 19:07] MichaelCurrie opened #34 "Create pie chart of video segmentation"
Like this, from p131 of Ev Yemini's dissertation

![video segmentation](https://f.cloud.github.com/assets/5267078/1834679/f70145ce-73e0-11e3-9e74-b0c7d3bf29dc.gif)

[2014-01-04 21:09] MichaelCurrie opened #35 "Create a generalized interpolation function"
Right now \* SchaferExperimentFile.interpolate_dropped_frames \* returns a new SchaferExperimentFile instance with all frames of skeletons interpolated linearly.

Instead, let's have a standalone function that will take any three-dimensional numpy array and interpolate linearly along the desired axis.

Furthermore, let's have a parameter that can be passed to specify the threshold, e.g. you could

[2014-01-16 03:47] MichaelCurrie opened #36 "Change user data path in wormpy_example"
Change user data path to come from a file, which is set in .gitignore to be ignored, so it can be set differently for each fork.

[2014-01-16 03:47] MichaelCurrie opened #37 "Change "\\" to r"\""

[2014-01-16 03:48] MichaelCurrie opened #38 "Move feature calculation code into classes"

[2014-01-23 06:26] #38 closed, assigned to MichaelCurrie

[2014-02-03 06:32] MichaelCurrie opened #39 "Interpolate a specific number of contiguous dropped frames"
add an option to interpolate only X number of contiguous dropped frames (e.g. if 1 is specified, only single dropped frames are fixed, which are virtually guaranteed to be correctly interpolated given the slow speed of the deformation and movement of the worm relative to the frame rate)

[2014-02-03 06:35] MichaelCurrie opened #40 "Design decision: locate special helper functions in NormalizedWorm class?"
design principle: should be able to call special functions of NormalizedWorm?

question: do i pass the minimum to the feature helpers functions?  because if so, I can't have special helper functions in NormalizedWorm.??

[2014-02-06 02:39] #37 closed, assigned to MichaelCurrie

[2014-02-07 06:01] #36 closed, assigned to MichaelCurrie

[2014-02-07 06:02] #34 closed, assigned to MichaelCurrie

[2014-02-07 06:10] #17 closed, assigned to nobody

[2014-02-13 04:42] JimHokanson opened #41 "Normalized worm - data dict"
Why does the normalized worm have an attribute, data_dict, that contains attributes?

Wouldn't it be better to place those attributes directly in the object?

[2014-02-13 13:29] JimHokanson opened #43 "Dependent attributes (properties) should use @property decorator"
Please add @property to all methods which are actually attributes in order to avoid needing to use parentheses to unbind the methods.

For example

nw.num_frames returns a method object

nw.num_frames() executes the method and returns a value

Changing this to:

@property
def num_frames

now we can do:
nw.num_frames and get the value

[2014-04-28 16:26] #1 closed, assigned to MichaelCurrie

[2014-05-03 23:03] MichaelCurrie opened #49 "Convert all repository documentation from MD to RST for compatibility with Sphynx"
[http://rst.ninjs.org/](http://rst.ninjs.org/)

[2014-05-07 15:50] MichaelCurrie opened #50 "Clean up and organize issues onto Waffle board"
https://waffle.io/openworm/movement_validation

[2014-05-07 19:00] #29 closed, assigned to MichaelCurrie

[2014-05-21 16:49] #43 closed, assigned to MichaelCurrie

[2014-05-21 21:51] #35 closed, assigned to MichaelCurrie

[2014-05-21 21:54] #39 closed, assigned to MichaelCurrie

[2014-05-21 21:58] #40 closed, assigned to nobody

[2014-05-21 22:22] #9 closed, assigned to MichaelCurrie

[2014-05-21 22:32] #25 closed, assigned to MichaelCurrie

[2014-05-21 22:54] #21 closed, assigned to nobody

[2014-05-21 23:50] #10 closed, assigned to MichaelCurrie

[2014-05-21 23:53] #22 closed, assigned to nobody

[2014-05-21 23:54] #15 closed, assigned to nobody

[2014-05-21 23:55] #33 closed, assigned to MichaelCurrie

[2014-05-22 00:04] #50 closed, assigned to MichaelCurrie

[2014-05-22 22:51] MichaelCurrie opened #52 "Make sure code follows PEP-8"
In particular, [PEP-8 recommends](http://legacy.python.org/dev/peps/pep-0008/#a-foolish-consistency-is-the-hobgoblin-of-little-minds):
1. Use four-character indendation (@MichaelCurrie breaks this rule, please fix!)
2. Limit all lines to a maximum of 79 characters. (@JimHokanson sometimes breaks this rule, please fix :)

[2014-05-25 01:06] MichaelCurrie opened #53 "Make README simpler and clearer with more usage examples"
Follow [PyOpenWorm's README.md](https://github.com/openworm/PyOpenWorm) for a good example of how to do it right.

Move any content that is not appropriate for the README into linked documents off the main page.

[2014-06-04 23:42] MichaelCurrie opened #56 "Calculate morphology.length as a feature"
Right now it is loaded directly from the normalized worm file, but we won't have that luxury when it comes to the input of the artificial worm.

Instead it should be natively "computed from the segmented skeleton by converting the chain-code pixel length to microns."

[2014-06-11 21:55] MichaelCurrie opened #57 "Change FPS from a global setting in config.py to a parameter of the file"
The frames per second can differ between experiment files, so this must be made into a parameter rather than a constant in config.py.

[2014-06-23 07:21] MichaelCurrie opened #62 "Add Sphynx for documentation"
[Sphinx](http://sphinx-doc.org/) creates lovely and pythonic documentation: e.g. [Pyvot](https://pythonhosted.org/Pyvot/tutorial.html) or [Beautiful Soup](http://www.crummy.com/software/BeautifulSoup/bs4/doc/)

[2014-07-08 03:08] JimHokanson opened #63 "Optimize eccentricity code"
The eccentricity code is painfully slow to run. The Python code currently uses a naive approach. The Matlab code was written to take advantage of certain knowledge that we have to make the execution much faster.

Matlab code:
https://github.com/JimHokanson/SegwormMatlabClasses/blob/master/%2Bseg_worm/%2Bfeatures/%40posture/getEccentricity.m

[2014-07-08 03:10] JimHokanson opened #64 "Organize the config"
The config is currently a mess. Each parameter in the config should be identified by its section as well as accompanied by a definition of what it impacts

[2014-07-08 03:11] JimHokanson opened #65 "Make the config local"
The configuration options are currently global in nature. It would be better if these were passed in locally so that changes to these parameters could be made at run time rather than manually editing the config file.

Also, the options should be cleaned during this process. Each parameter in the config should be identified by its section as well as accompanied by a definition of what it impacts as

[2014-07-15 23:36] MichaelCurrie opened #68 "Compare machine vision algorithms"
Our repo is based on the Schafer Lab code.  Their machine vision algorithm will return as an array of NaNs any frame where the worm is touching itself (e.g. creating omega turns)

Another machine algorithm is also available ([Track-A-Worm](https://github.com/openworm/movement_validation/blob/master/documentation/Worm%20Tracking%20Software.md)), and it is supposed to be able to segment video frames

[2014-07-16 12:28] MichaelCurrie opened #70 "Add a new feature type to test extensibility"
Currently the WormFeatures class holds information about four feature types: Posture, Morphology, Locomotion, and Path.  Each of these types has its own class.

As an exercise to show the extensibility of this framework, please create a new feature type, with its class definition in its own module, and add it to the WormFeatures class.

[2014-07-27 01:41] #28 closed, assigned to MichaelCurrie

[2014-07-27 01:42] #27 closed, assigned to JimHokanson

[2014-07-27 01:44] MichaelCurrie opened #71 "Create formal test harness"
Create a proper test harness for the movement_validation repo using [Travis CI](https://travis-ci.org/) and more feature examples from Schafer Lab (maybe 5?)

[2014-07-27 01:49] MichaelCurrie opened #72 "Move all features-related modules into their own package (folder)"
This makes the proliferation of modules more manageable and helps to emphasize the difference between code common to all modules and code dedicated to features, statistics, etc.

[2014-07-27 01:50] #72 closed, assigned to nobody

[2014-08-20 23:27] MichaelCurrie opened #75 "Refactor code to inherit from SciUnit base classes"
Review the classes in the features sub-package and refactor them so they inherit from the SciUnit base classes.

Further resources:

[OpenWorm Journal Club Presentation by SciUnit creator Richard Gerkin](https://www.youtube.com/watch?v=ZcmkdGFEKso)

[Google Groups discussion on the matter](https://groups.google.com/forum/#!topic/openworm-discuss/cLB5yduXzAQ)

[2014-08-21 20:58] MichaelCurrie opened #76 "Convert statistics code"

[2014-08-24 21:58] #41 closed, assigned to MichaelCurrie

[2014-08-24 21:59] #52 closed, assigned to nobody

[2014-08-25 05:41] MichaelCurrie opened #77 "Get video, contour and pre-features pipeline into the repo"
We'd like to have the video processing code also be in the pipeline, even if only in outline only for now.  That way it's clear how the pipeline will work.

I'm thinking that the raw video will be encapsulated in an object called **WormVideo**, the contour will be in something called **WormContour**, and pre-features in something called **WormContourPlus** or something.

Then the **WormContourPlus

[2014-08-25 22:26] #5 closed, assigned to MichaelCurrie

[2014-09-14 01:54] #64 closed, assigned to nobody

[2014-09-22 23:01] MichaelCurrie opened #79 "What does this eigenworm data represent?"
Hi guys, (especially @balazs1987 )

I took the [eigenworms hdf5 file](https://github.com/openworm/movement_validation/blob/master/movement_validation/features/masterEigenWorms_N2_v2.mat) supplied by the Schafer Lab and converted to HDF5 by @JimHokanson and it seems to be simply a 48 x 6 matrix of floats.  It almost seems like it's giving 6 skeletons but the data is just one-dimensional.  Perhaps i

[2014-09-24 23:26] #79 closed, assigned to nobody

[2014-09-25 20:56] MichaelCurrie opened #80 "Clean up example_data folder"
I find it the [example_data folder] on Google Drive confusing because:

* Some of the .mat files apparently cannot be opened by HDFView, which apparently means they aren’t stored in HDF5 format.  Is this the case for the old Schafer lab files?
* It’s not clear from the names which files are generated by the Schafer lab binary and which are generated by our new process
* The WT2 Binary seems to req

[2014-09-27 17:26] MichaelCurrie opened #81 "Profile the features and statistics"
Let's profile the features and statistics to see which ones have the biggest drag on performance.

[2014-10-13 15:39] JimHokanson opened #86 "Make VideoInfo required for WormFeatures"
Currently the video info has a default in the WormFeatures constructor, even though this default value is not appropriate. Either we need to make an appropriate default or require that a valid object be passed in.

This is currently leading to a problem in our plot example which does not pass in the video info object. This later leads to an error when code looks to this object for frame rate infor

[2014-10-13 19:35] MichaelCurrie opened #87 "Convert or Document WT 2.0 video parsing code"
See seg_worm.segWormFrames at https://github.com/JimHokanson/SegwormMatlabClasses

[2014-10-13 19:36] MichaelCurrie opened #88 "Port the feature info filtering"
somewhere I've seen code that is meant to select features from videos that fufill certain requirements - recording date, strain, on or off food, etc.

(Originally described by Jim [in this comment](https://github.com/JimHokanson/SegwormMatlabClasses/issues/10#issuecomment-58836690))

[2014-10-13 19:36] MichaelCurrie opened #89 "Port GUI code"
"Displaying things - This is a huge hole that is missing. There are tons of different plotting routines to summarize things that have not been reproduced."

(Originally described by Jim [in this comment](https://github.com/JimHokanson/SegwormMatlabClasses/issues/10#issuecomment-58836690))

[2014-10-13 19:38] MichaelCurrie opened #90 "SQL mechanism for managing feature files"
some mechanism for managing feature files - ftp downloading, filtering by sql queries

(Originally described by Jim [in this comment](https://github.com/JimHokanson/SegwormMatlabClasses/issues/10#issuecomment-58836690))

[2014-10-13 19:38] MichaelCurrie opened #91 "Replicate displays that allow replication of published results"
(Originally described by Jim [in this comment](https://github.com/JimHokanson/SegwormMatlabClasses/issues/10#issuecomment-58836690))

[2014-10-25 22:16] MichaelCurrie opened #92 "Fix upsilons.upsilons and omegas.omegas"
Right now to get the upsilons class we have to access first the variable then the class instance.  Let's just get that down to one.  Should be a very simple refactor. Don't forget to modify [event_features.csv](https://github.com/openworm/movement_validation/blob/master/movement_validation/statistics/feature_metadata/event_features.csv) after you are done so the specs know where to look.

[2014-10-29 17:24] MichaelCurrie opened #93 "Write a unit test to validate that specifications match the WormFeatures object"
As I am debugging the specifications one thing that is constantly coming up is discrepancies between how the features are described in the CSV files that the Specs class uses on the one hand, and the actual object heirarchy as stored in WormFeatures.

This issue can arise from both:
1. WormFeatures instances instantiated from a NormalizedWorm instance, and
2. WormFeatures instances created using t

[2014-10-31 18:41] MichaelCurrie opened #94 "Extract the following text to place in our documentation"
This text has credit and attribution at not only our THANKS.md file but also in the main documentation page itself.

This content came from the back pages of the PDFs available from the [Schafer Lab's _C. elegans_ behavioural database](http://wormbehavior.mrc-lmb.cam.ac.uk/).

The problem is that the PDF seems to be storing this content as images so I'd have to use a text-reading program or just m

[2014-11-29 01:48] #94 closed, assigned to nobody

[2014-12-14 16:56] JimHokanson opened #96 "Update Install Instructions"
The install file is still a bit complicated. Things to fix:

1. missing scipy dependency
2. links to all numpy-scipy packages should be provided for windows
3. A google account isn't needed and should be clarified as such
4. Explicit specification of the file paths in user_config should be explained more clearly

[2014-12-24 19:24] JimHokanson opened #97 "Create framework for explaining how a feature is calculated"
Currently many of the features that are extracted from a worm video are not easily understood. The aim is to create a framework by which a feature can be explained for a particular video with the goal of helping to give intuition to how a feature is calculated and what it means.

We are currently building support into the feature processing pipeline for a 'feature processing options' class instanc

[2014-12-28 21:07] #92 closed, assigned to MichaelCurrie

[2014-12-28 21:13] #86 closed, assigned to nobody

[2014-12-28 21:19] #63 closed, assigned to JimHokanson

[2015-01-13 02:49] JimHokanson commented on #88
This is currently being moved forward by the feature database work that @joebowen has been doing.

[2015-01-13 02:55] JimHokanson commented on #30
Everything now matches except for posture.bends.head.std_dev which only has a 0.881 correlation. I've been letting values above 0.95 slide. My guess is that the partition definitions are different. Once that problem is identified this issue is done.

[2015-01-13 19:23] MichaelCurrie commented on #76
This was completed in November 2014.

[2015-01-13 20:32] MichaelCurrie commented on #96
Also I think it should be clarified that the tools at the beginning do not need to be installed first before starting the 1. 2. 3. of the install steps.

[2015-01-14 20:47] MichaelCurrie opened #102 "Make the eigenworm loader more accessible"
See https://github.com/openworm/movement_validation/commit/28b7cb4e5126322e205a44170c7b8825cc22fb75#commitcomment-9271511 for details

[2015-01-14 21:42] pm1988 commented on #49
Finished converting the documents and created a pull request.

[2015-01-21 01:12] MichaelCurrie commented on #88
Let's close this issue here then.

[2015-01-21 01:12] #88 closed

[2015-01-21 01:20] MichaelCurrie commented on #89
It looks like we are indeed starting from scratch on this, although we might take inspiration from [the interface, documented here](https://docs.google.com/document/d/1QR_u3VtxOPsC-6teVDFrgEFXxR9lvhUZs-CqSt7FuUk/edit?usp=sharing).  I'll close this issue here.

[2015-01-21 01:20] #89 closed

[2015-01-21 01:23] MichaelCurrie commented on #90
[The schema is up here](https://github.com/openworm/movement_validation/tree/master/documentation/database%20schema).

[2015-01-21 01:23] #90 closed

[2015-02-15 20:19] MichaelCurrie opened #104 "Move Joe's Amazon instance over to an OpenWorm-owned one"
1. As you can see in the current install instructions, [https://github.com/joebowen/movement_validation_cloud/blob/master/INSTALL.md](https://github.com/joebowen/movement_validation_cloud/blob/master/INSTALL.md), @joebowen 's personal ElasticBeanstalk environment is being used.  Not only does this cost @joebowen money, it would be better to move to OpenWorm.

2. Also, the GitHub repository master

[2015-02-15 20:41] MichaelCurrie commented on #11
Refactoring will make WormExperimentFile somewhat moot so I'll close this.

[2015-02-15 20:41] #11 closed

[2015-02-15 20:49] MichaelCurrie opened #105 "Create pull request for Chris Barnes computer vision code"
https://github.com/clbarnes/movement_validation

[2015-02-15 21:48] JimHokanson opened #106 "Update Examples folder with README"
Create a README in the examples folder that gives a quick overview of what each file does

[2015-02-15 21:56] slarson opened #107 "Unit tests via Travis-CI to test examples"
Testing the examples will make for an easy way to have automated regression testing for the project.

Here's a class from PyOpenWorm for testing examples that can be used as a model. https://github.com/openworm/PyOpenWorm/blob/alpha0.5/tests/test.py#L54

[2015-02-16 03:44] MichaelCurrie opened #108 "Fix .MD links"
We've got all the docs in RST format instead of MD, but many links throughout the docs (e.g. on the [readme](https://github.com/openworm/movement_validation/blob/master/README.rst)) still point to the old .MD files.  A good search-replace is in order.

This would apply to all .RST files in the movement_validation repository.

[2015-02-16 03:51] #49 closed

[2015-02-16 03:58] eulerkaku commented on #62
This is sort of how the docstrings are showing for a page
![normalizedworm](https://cloud.githubusercontent.com/assets/3817928/6207033/dce2e086-b565-11e4-981c-412e6589476f.png)

[2015-02-16 04:14] MichaelCurrie commented on #104
@JimHokanson moved the GitHub repository over at least:
[https://github.com/joebowen/movement_validation_cloud](https://github.com/joebowen/movement_validation_cloud) is now at
[https://github.com/openworm/movement_validation_cloud](https://github.com/openworm/movement_validation_cloud)

[2015-02-16 04:20] MichaelCurrie commented on #104
We should also follow [this procedure](http://stackoverflow.com/questions/2763006/) to make the openworm version of the GitHub repo become the master.

[2015-02-16 04:28] MichaelCurrie opened #109 "Try using Local Outlier Factor to"
@JimHokanson found [this article](http://analyticsmadeskeezy.com/2012/11/29/intrusion-detection-made-skeezy-how-do-you-find-the-dea-in-a-haystack/) discussing the concept of a Local Outlier Factor, which might be used as another way of describing at a high level how one group of worm videos differs from another.

This could be used as a supplement to the Fitness Function under development.

[2015-02-16 23:14] MichaelCurrie commented on #104
As for moving Joe's ElasticBeanstalk environment, can we move it to something owned by the OpenWorm organization?  Does something like this currently exist?  @tarelli , perhaps you could shed some insight here?

Thanks

[2015-02-17 00:42] MichaelCurrie commented on #87
Even if we don't actually convert it to Python, as seems unlikely at this point, it would be nice to at least document some of the heuristics here.

[2015-02-17 02:26] slarson commented on #104
One question is -- does this need to be up 24/7 now?  Can we put it up and
take it down when it is ready to demo?
ᐧ

On Mon, Feb 16, 2015 at 3:14 PM, Michael Currie <notifications@github.com>
wrote:

[2015-02-17 02:32] MichaelCurrie commented on #104
I think yes, since:

For development purposes I think it will be necessary to be able to commit a change to GitHub, and then immediately view it on the website, and so on.

Since AWS charges by the CPU cycle, it shouldn't cost much as long as no one is using it.

As for storage, we wouldn't need much while in development, just enough for our [example data](https://drive.google.com/folderview?id=0B

[2015-02-17 03:20] MichaelCurrie commented on #68
Since Track-A-Worm is closed source, there's not much point in looking at their code since we won't be able to use it.  Furthermore, the [latest efforts here from the Brown Lab](https://docs.google.com/document/d/1VRMnNHoLQ2oHD3wgGOQrE8KzyCSrEoMwChWPOhVNTj0/edit?usp=sharing) are pointing towards using a completely different approach, after [Roussel (2015)](https://drive.google.com/file/d/0B9dU7zPD

[2015-02-17 03:20] #68 closed

[2015-02-17 05:53] MichaelCurrie commented on #97
Back in December @clbarnes pointed out the IPython notebook might be good for this demo code.

Also, @JimHokanson fleshed out his idea for this in his "plans" document so I thought it might be good to include here:

Build in demo code for features to help explain how they are derived. Some of the features are a bit out there and would help from having step by step plots of how they are derived.
-

[2015-02-17 06:01] MichaelCurrie opened #110 "Get database loaded with example data"
Currently the only time worm data is compared is when groups of videos are aggregated and compared statistically.  But this data could be compared and quantified in many different ways, to answer questions like:

- How many hours of video were recorded?
- How many frames were segmented?
- What is the average length of the worms collected by one lab vs the worms in another lab?
- How many features

[2015-02-17 06:03] MichaelCurrie opened #111 "Cloud use case: add a film to the database of worm videos"
A user should be able to add a video to the database from the front-end web interface.

[2015-02-17 06:03] MichaelCurrie opened #112 "Cloud use case: Compare worm strains"
Cloud use case: Run a statistical comparison of a worm type to another worm type on all or some videos

[2015-02-17 06:04] MichaelCurrie opened #113 "Cloud use case: View a time-series plot of a feature"
It should be possible from the web interface to call up a time-series plot of a feature of a worm wireframe that's stored in the database.

That's what was possible from the [WT 2.0 Matlab winforms interface](https://docs.google.com/document/d/1QR_u3VtxOPsC-6teVDFrgEFXxR9lvhUZs-CqSt7FuUk/edit?usp=sharing):

![image](https://cloud.githubusercontent.com/assets/5267078/6223932/6d68a88c-b630-11e4-8373

[2015-02-17 06:08] MichaelCurrie commented on #113
This is more advanced, but it would be great to be able to view a worm animation alongside time-series and event features as they occur, or
The raw video overlaid with the CV segmentation (again following the WT 2.0 functionality):
![image](https://cloud.githubusercontent.com/assets/5267078/6223947/9db21a32-b630-11e4-8456-458a18b4c752.png)

[2015-02-18 22:32] tarelli commented on #113
@MichaelCurrie when can we talk about interactions with Geppetto?

[2015-02-19 05:38] MichaelCurrie commented on #113
@tarelli there are currently three issues of relevance for Geppetto, I think:

1. [The input from Geppetto to movement_validation](https://github.com/openworm/movement_validation/issues/77).  This is my highest priority and we discussed it at the latest meeting - I'm working on a serialized file format for this, perhaps [JSON](http://stackoverflow.com/questions/3488934/simplejson-and-numpy-array)

[2015-02-19 12:55] tarelli commented on #113
@MichaelCurrie that's great, what I would like to do is to draw a diagram that capture the flows between the systems so that we can start hashing out some of the details.

[2015-02-23 05:39] MichaelCurrie commented on #97
Here's an example of how iPython notebook can be used to make a package flex its muscles so to speak:

[http://nbviewer.ipython.org/github/alimanfoo/petl/blob/master/notes/case_study_1.ipynb](http://nbviewer.ipython.org/github/alimanfoo/petl/blob/master/notes/case_study_1.ipynb)

[2015-02-23 08:00] clinzy commented on #97
I agree that using IPython Notebook is a good approach. I am not familiar with debug_verbose but I did find information about using logging and argparse to enable --debug/--verbose flag support.  I sent you a meeting request so we can discuss and review the code.

[2015-02-26 21:58] MichaelCurrie opened #114 "Shape mismatch after NaN filter: posture.primary_wavelength"
Running `validate_features.py`, I get the following output:

[code]

I get this output whether or not `user_config.py` has
`PERFORM_SLOW_ECCENTRICITY_CALC = False` or
`PERFORM_SLOW_ECCENTRICITY_CALC = True`.

[2015-02-28 03:05] MichaelCurrie commented on #91
Discussing this with Chris Linzy yesterday, it's clear that charts a,b, and c will not be possible to replicate with only the 15-minute videos of adult worms.  Those charts must have been produced with longer videos of growing worms, which we don't currently have, and also which is out of scope of the current project.

The other histograms are possible to be seen with the [generate_stats.py](https

[2015-02-28 03:08] MichaelCurrie commented on #97
Heard some good news from @clinzy about progress with this issue... hint: [http://nbviewer.ipython.org/github/openworm/movement_validation/blob/feature_explaination/examples/PathFeatureExplaination.ipynb](http://nbviewer.ipython.org/github/openworm/movement_validation/blob/feature_explaination/examples/PathFeatureExplaination.ipynb)

[2015-03-08 23:42] clinzy commented on #97
I have updated the code in the feature_explanation branch to perform some house keeping and also add important changes. First the code now includes a variable, defaulted to an empty list, to carry names of features to be explained from the command line down to the relevant code that produces the plots and text for the explanation.  Second I have moved this code out of the init method to a separate

[2015-03-18 21:20] DCPhasedLogix opened #116 "Misplaced PDF link"
The link to the code progress pdf is broken on the guide to contributors page.

https://github.com/openworm/movement_validation/blob/master/documentation/Code%20Progress.pdf

[2015-04-09 23:30] MichaelCurrie opened #117 "Incorporate André Brown behavioural syntax"
Here's a link to the [codebase](https://drive.google.com/folderview?id=0B_VNRzddcictbnFjWURqVXBKWUE&usp=sharing_eid), which is GPL'd so we'll have to be careful to keep this code separate from the rest of our code to [avoid violating the terms of the license](https://groups.google.com/forum/#!searchin/openworm-discuss/gpl/openworm-discuss/Ab0MrGRCwoY/5uOhcleopKcJ).

Aidan Rocke is thinking of work

[2015-04-15 01:11] JimHokanson opened #118 "Remove Shapely dependency - make optional"
We currently only use Shapely for running the point-in-polygon algorithm for computing orientation. Since it is not a typical install and since it requires binary code, installing it is just an unnecessary step towards getting people to be able to work with the code base.

Going forward it should be made optional by importing it only if it is present, otherwise relying on a yet to be written stand

[2015-04-20 04:18] MichaelCurrie commented on #110
I've been reading some articles on how we're facing a difficulty here, given how right now features are in objects, and I want them to be in a database.  This requires an objects-to-relational mapping, which is known as the ["Vietnam of Computer Science"](http://blogs.tedneward.com/2006/06/26/The+Vietnam+Of+Computer+Science.aspx) (written from an American perspective, so this refers to their quagm

[2015-04-20 04:23] MichaelCurrie commented on #110
Basically the conclusion of my research is that the Object Relational Mapper (ORM) we [should be using](http://stackoverflow.com/questions/5632677/what-is-the-difference-between-sqlite3-and-sqlalchemy) is [SQLAlchemy](http://www.sqlalchemy.org/).

SQLAlchemy supports MySQL, SQLite, and Postgresql, which are the only three conceivable database options we might choose, and replaces commands that mig

[2015-04-20 05:21] MichaelCurrie commented on #110
Another option other than SQLAlchemy is [Django's embedded ORM](http://www.pythoncentral.io/sqlalchemy-vs-orms/), which I believe @joebowen used in his implementation of the database.

[2015-04-20 14:07] JimHokanson commented on #110
Django (and others) provide web interfaces which might be nice for some users. With a web interface we'd need server support (which is doable) as well as an API, which I've heard is relatively easy. The web interface should also support operations on remote data.

[2015-04-22 22:12] MichaelCurrie opened #119 "Enhancement: add Si-elegans' experiment schema to the database"
[https://groups.google.com/forum/#!topic/openworm-discuss/8CyWwx-wSoo](https://groups.google.com/forum/#!topic/openworm-discuss/8CyWwx-wSoo)

[https://github.com/Si-elegans/behavioural_experiment_definition](https://github.com/Si-elegans/behavioural_experiment_definition)

[2015-04-22 22:37] MichaelCurrie commented on #116
Fixed with 161f66ae6fed6bcc2b5e9509d67868da1e8b33cd.  Thanks, @DCPhasedLogix for pointing this out.

[2015-04-22 22:37] #116 closed

[2015-05-01 03:03] JimHokanson commented on #76
Technically I believe the statistics have yet to be converted, just the histogram code.

The statistics code starts with:
https://github.com/JimHokanson/SegwormMatlabClasses/blob/master/%2Bseg_worm/%2Bstats/%40manager/manager.m

and the meat is in:
https://github.com/JimHokanson/SegwormMatlabClasses/blob/master/%2Bseg_worm/%2Bstats/%40manager/initObject.m

This conversion is specific to the old MR

[2015-05-01 03:18] JimHokanson opened #120 "Create rank sort summary"
The goal is to summarize how a worm's features sort relative to other worms. As a simple example, one of the outputs from this "function" might be that the worm's width was in the 50th percentile. Alternatively, one might find that a simulated worm is in the 0th percentile for width. This would suggest whatever is controlling width in the simulation is not appropriate.

For now the steps to comput

[2015-05-03 21:39] MichaelCurrie commented on #76
The statistics code was also "done" in the sense that I moved the classes and code into the movement_validation repo.  Any lines I couldn't translate completely I left commented out.  So the next steps are all contained in the following module:

i.e. the StatisticsManager and WormStatistics classes are defined here:

https://github.com/openworm/movement_validation/blob/master/movement_validation/s

[2015-05-04 19:55] MichaelCurrie opened #122 "Errors running pre_features.py code"
If I run JSON demo.py, I get the following messages.

in NormalizedWorm consructor
in BasicWorm constructor
In WormPartition initializer
in BasicWorm constructor
in NormalizedWorm consructor
in BasicWorm constructor
In WormPartition initializer
in BasicWorm constructor
Calculating pre-features

Intel MKL ERROR: Parameter 6 was incorrect on entry to DGELSD.

Intel MKL ERROR: Parameter 6 was incorre

[2015-05-04 19:56] MichaelCurrie commented on #122
Sorry @pgleeson I accidentally tagged you on this issue.

[2015-05-05 05:19] JimHokanson commented on #122
@MichaelCurrie It seems you have created an error in my code and now you want me to fix it :wink:

[2015-05-05 05:25] MichaelCurrie commented on #122
OK I'll work on it :)

[2015-05-05 05:26] MichaelCurrie commented on #122
But have you seen anything like it?  Maybe give me a hint?  ;)

[2015-05-05 05:32] JimHokanson commented on #122
I'm not sure. The problem is that the input is wrong. You are passing in the skeleton as the contour and expecting logical results :frowning: There is perhaps some need to error check more on my end but it would be better to do with a real problem, not one that has been fabricated.

FYI, the BasicWorm definition is also problematic. The main issue is that "my" BasicWorm is not normalized, and thus

[2015-05-11 22:17] MichaelCurrie opened #123 "Go back from .rst to .md"
Apparently we can get back to the more accessible .md format for our documents, and still maintain compatibility with [readthedocs](https://coderwall.com/p/vemncg/what-is-the-difference-rest-docutils-sphinx-readthedocs).  Yay!

Here are the details:
https://github.com/openworm/openworm_docs/pull/23#issuecomment-100318309

I say let's go back to .md format.

[2015-05-11 22:25] slarson commented on #123
Yup, BTW, check [this](https://github.com/openworm/openworm_docs/tree/master/rst-to-md-conversion) for details on how to do it.  Ask @travs if you have questions!

[2015-05-17 18:11] MichaelCurrie commented on #71
This is now done and passing with commit f303f0bb0ce3a9c667d0006dc6d43f3a09240405.  Obviously many tests still need to be written, but the harness is ready and able to be used.

[2015-05-17 18:11] #71 closed

[2015-05-17 18:14] MichaelCurrie commented on #107
FYI that example uses unittest and so far I have been using nose, which is a package based on unittest.  It seems popular so perhaps it's best that we keep using nose.

[2015-05-17 18:18] MichaelCurrie commented on #107
@slarson so far running our examples requires access to several HDF5 and JSON files, which are stored in a Google Drive folder that our current build process assumes is mirrored on the user's local drive.  What's the best practice for getting the Travis CI build machine to access files?  I can see it's got documentation on instantiating a build database, but what if I just want to test something t

[2015-05-17 22:24] MichaelCurrie commented on #107
Maybe a solution is: https://github.com/blog/1986-announcing-git-large-file-storage-lfs

[2015-05-18 23:19] MichaelCurrie commented on #77
Here's my assessment of the status of the pre-features code.  Jim's finished several of the calculations but to be fully general some steps still have to be completed, and also in and out touches and areas still need to be implemented:

![image](https://cloud.githubusercontent.com/assets/5267078/7692453/d101f9c8-fd81-11e4-83ee-77638dcc6221.png)

[2015-05-18 23:23] JimHokanson commented on #77
Spot on. Areas should be easier. I plan on writing these up as there own
issues in the next day or two.
On May 18, 2015 6:20 PM, "Michael Currie" <notifications@github.com> wrote:

[2015-05-19 05:06] slarson commented on #107
@MichaelCurrie
Git large file storage is interesting, but we may run into the 1GB limit rather quickly.

Folks on the Geppetto side have been hosting large files in a public dropbox folder that they can get a publicly accessible URL to that doesn't require authentication (i.e. anonymous access).  If it is possible to do the same thing on GDrive, I'd suggest doing that (perhaps by making permission

[2015-05-19 05:09] slarson commented on #71
Congrats!  There's new work on the ChannelWorm project on instantiating a "hello world" test using SciUnit, thanks to the efforts of @travs @gsarma @rgerkin.  That branch is also looping in TravisCI.  Check it out here: https://github.com/VahidGh/ChannelWorm/blob/tests/tests/hello_model_test.py

[2015-05-21 02:26] JimHokanson opened #124 "Basicworm skeleton as ndarray support in NormalizedWorm"
If we allow the skeleton to be a 3d numpy array (fixed # of points per frame), rather than a list with data for individual frames as each element, then we need to build support into NormalizedWorm for handling this.

[2015-05-23 03:54] JimHokanson opened #125 "add Schafer File support to BasicWorm"
BasicWorm was written without support for loading non-normalized worm data and it should be added in.

[2015-05-23 04:00] JimHokanson commented on #125
@MichaelCurrie

1. Why do we have head and tail attributes? What purpose do these serve?

2. From a design perspective, are we ok with having the same class having its attributes take on many different forms (i.e. skeleton no contour, contour no skeleton, ndarray vs list of ndarrays?

[2015-05-23 05:16] JimHokanson commented on #124
My preference would be to transform this input in BasicWorm so that it matches our current form (a list of ndarrays)

[2015-05-23 05:21] JimHokanson opened #126 "Compare normalized worm instances"
The equality operator should be finished for Normalized Worm. This will allow us to know if our "pre features" calculations are roughly equivalent to the methods originally used by the Schafer lab.

See [`test_normalized_worm_creation.py`](https://github.com/openworm/movement_validation/blob/master/examples/test_normalized_worm_creation.py) in the examples folder.

This code would be best if the f

[2015-05-23 05:28] JimHokanson opened #127 "Compute areas"
In `pre_features.py` we need the area to be calculated. Methods used in the eccentricity feature calculation might be useful, although it would be nice if a quick fill algorithm could be found that works.

The approach is to find "pixels" that are within the the given boundaries. The area is then some scalar of the number of pixels (Depends on spatial sampling density).

This result could then be

[2015-05-26 20:27] MichaelCurrie commented on #125
1. Head and Tail attributes are so that we can accept data where head is not necessarily at the 0 index and tail is not necessarily at the -1 index.  After recent refactoring, BasicWorm no longer exists and instead the class encapuslating data in a general state without any head or tail assumptions is called GeneralizedSkeletonAndContour.  Then the points are ordered and we end up with OrderedSkel

[2015-05-26 20:33] #125 closed

[2015-05-26 21:03] MichaelCurrie commented on #120
FYI I call this the "Hokanson Histogram-of-Percentiles Summary" in the [LucidChart](https://www.lucidchart.com/documents/view/f6f790cf-8041-4c63-b204-f920292e63ad):

![image](https://cloud.githubusercontent.com/assets/5267078/7823392/68ada9a2-03b8-11e5-8c0d-8b34fbcdcded.png)

[2015-05-27 01:41] MichaelCurrie commented on #105
It looks like we are going in a different direction, using @khezili's [repo](https://github.com/KezhiLi/Tracking_Hypo).  So this would appear to be moot.

[2015-05-27 01:41] #105 closed

[2015-05-27 01:48] MichaelCurrie opened #129 "JSON vs HDF5"
Right now as is demonstrated by [JSON demo.py](https://github.com/openworm/movement_validation/blob/master/examples/JSON%20demo.py), we have the ability to serialize NormalizedWorm and some other classes as JSON flat files.  JSON is format familiar to web developers as it is often exchanged via HTTP between the client and server sides of web apps, but it isn't binary and so it might be very slow g

[2015-05-27 01:55] MichaelCurrie opened #130 "Areas and Eccentricity code: speedup by rasterization"
The calculation of head_area, tail_area, etc, in NormalizedWorm, and later, the Posture.Eccentricity feature, can likely both be calculated more quickly if we have stored a "rasterized" version of the worm at each frame.

If we have done so, head_area can be calculated just by something like a [flood-fill](http://en.wikipedia.org/wiki/Flood_fill) operation to count pixels.

Similarly, eccentricity

[2015-05-27 20:12] MichaelCurrie commented on #114
Now I'm getting a different error.  Jim I hope you don't mind me assigning you to this, feel free to unassign if you prefer not to do it.

[code]

[2015-06-01 00:17] MichaelCurrie opened #131 "Can't replicate widths plot"
@JimHokanson I can't seem to replicate the beautiful widths plot you showed us back at the [standing meeting on 15 March 2015](https://docs.google.com/document/d/18XtQ-BqzTDww2R3ROBCQZ-0I2obrY8b1cVs7fhBZtN8/edit):

![image](https://cloud.githubusercontent.com/assets/5267078/7904652/210ca906-07c1-11e5-807b-fd2c08e8cf9c.png)

When I run [awesome_contours_oh_yeah_v5.m](https://github.com/openworm/mov

[2015-06-01 00:22] MichaelCurrie commented on #131
Oh now I see that if I instead run [awesome_contours_oh_yeah_v2.m](https://github.com/openworm/movement_validation/blob/master/jim_matlab_testing/awesome_contours_oh_yeah_v2.m) it produces the desired result:

![image](https://cloud.githubusercontent.com/assets/5267078/7904672/ed83d9fa-07c1-11e5-9d1e-dce2798c8499.png)

[2015-06-01 00:23] #131 closed

[2015-06-03 19:52] MichaelCurrie commented on #129
@joebowen @clinzy having some web development experience, maybe you two have thoughts on this?  Thanks!

[2015-06-04 02:28] joebowen commented on #129
Honestly, I think it's probably six one, half dozen another.  My first thought was that HDF5 wouldn't be supported outside of Matlab, but I was [wrong](http://en.wikipedia.org/wiki/Hierarchical_Data_Format#Interfaces).  It's possible to use a binary JSON like package, [UBJSON](http://ubjson.org/libraries/), which is fully compatible with JSON, so I'm not really sure it matters.  I'm personally mor

[2015-06-04 05:44] MichaelCurrie commented on #129
Thanks Joe.  I'll leave JSONSerializer as is then.  Anyone who feels we should change it can feel free to re-open this issue.  Thanks

[2015-06-04 05:44] #129 closed

[2015-06-04 19:10] MichaelCurrie commented on #127
I'll elaborate with more details here.  The exact method that needs to be coded is `computeAreas`.  Here's the stub method right now:

[code]

[2015-06-04 19:38] ver228 commented on #127
Hello, do we really need the area per worm segment? It is only used in worm_features to calculate the worm total area. If one is interested in only the total size we can use this http://mathworld.wolfram.com/PolygonArea.html

I would make the function like this a function:

def computeAreas(vulva_contour, non_vulva_contour):
    contour = np.vstack((vulva_contour, non_vulva_contour[::-1,:]))
    s

[2015-06-04 20:18] MichaelCurrie commented on #56
Handled by [WormParser.computeSkeletonLengths](https://github.com/openworm/movement_validation/blob/master/movement_validation/pre_features.py):

[code]

[2015-06-04 20:18] #56 closed

[2015-06-04 20:52] JimHokanson commented on #127
@ver228

Good point. I was not aware of this technique. The sub areas could also be calculated in this manner by creating sub-polygons. These areas might be used somewhere in the worm parsing verification as well ...

[2015-06-04 22:14] ver228 commented on #127
@JimHokanson
I agree, the subareas shouldn't be not too difficult to calculate, but do we really need them? I can only find them being used in two files. 1) NormalizedWorm where it is used to parse the data from Schafer's lab, 2) and worm_features where the subareas are added to obtain the worm area. I personally thing it would be less convoluted to only keep one field for the total worm area. Seg

[2015-06-04 23:03] JimHokanson commented on #127
@ver228 I'm in agreement. My only point was on the preprocessing step, but if that isn't that useful, then I don't think the code should be implemented.

Given the information you have provided I think it is probably best if we remove the individual areas from the old version and only propagate the total area, and then implement the total area in the new code.

[2015-06-04 23:41] MichaelCurrie commented on #127
Hi Avelino, you make a good point that in no feature do we actually need area broken down into parts.  The only feature that uses these areas is morphology.area, which as you say just adds up the four areas to get the full worm area (which actually doesn't make sense to me since vulva_area+non_vulva_area should actually be sufficient by my assumed definition of those terms to get the full worm are

[2015-06-04 23:51] MichaelCurrie commented on #127
OK so I've refactored so that NormalizedWorm just has a variable, `area`, and when loading from the Schafer file, the factory method itself converts to our new simpler `area` variable:

[code]

And now the features code for morphology is just a simple assignment from the NormalizedWorm value:

[code]

I added some temporary code to compare area values into [`test_normalized_worm_creation.py`](http

[2015-06-05 00:08] MichaelCurrie commented on #122
Everything @JimHokanson mentioned in his last comment has now been addressed, and this bug no longer happens, since we are properly passing a "heterocardinal" skeleton.

[2015-06-05 00:08] #122 closed

[2015-06-05 00:16] JimHokanson commented on #127
@MichaelCurrie The data should be scaled in microns already. What's the ratio of those 2 lines?

[2015-06-05 00:17] JimHokanson commented on #127
https://github.com/openworm/movement_validation/blob/master/jim_matlab_testing/createCleanPreNormData.m

The link above shows the code used to create the data that we are working with. Note that it does the conversion from pixels to microns.

[2015-06-05 00:28] MichaelCurrie commented on #127
Hmm.  The calculated area / loaded area is
mean 1.09479022485
min 1.08466231002
max 1.10288471017

![image](https://cloud.githubusercontent.com/assets/5267078/7997255/2bd1bfc4-0ae7-11e5-8125-d80c21637b64.png)

calculated area - loaded area is

mean 6076.8487679
min 5496.68115274
max 6637.8637457

![image](https://cloud.githubusercontent.com/assets/5267078/7997274/61262ba6-0ae7-11e5-95c7-39cfb9110e

[2015-06-05 08:16] ver228 commented on #127
Hello guys,

I made a comparison between using the shoelace formula and filling the worm contour and counting the pixels. The results are practically the same. I think the problem is in the original procedure of dividing the worm into segments.

I am using opencv to fill the worm. I find this library very helpful, and I think it the project will benefit if we start to use it. For example, the ecce

[2015-06-05 19:12] ver228 commented on #130
Hey, I found a method that speeds up the calculation of the eccentricities dramatically. The basic idea is using the image moments (http://en.wikipedia.org/wiki/Image_moment) obtained from the contour using openCV (http://docs.opencv.org/doc/tutorials/imgproc/shapedescriptors/moments/moments.html).

I check with calculating the worm pixels using openCV drawContour, and using the code on h__calcula

[2015-06-06 05:46] MichaelCurrie commented on #127
Thanks @ver228, looks great.  I added your code to a [test_areas.py](https://github.com/openworm/movement_validation/blob/master/examples/test_areas.py).

Right now I can't actually run it since I can't get OpenCV working with Python 3 bindings.  The version 3.0 available for download on the OpenCV website for Windows has two `.pyd` files you are supposed to put in your `site-packages` folder, but

[2015-06-06 18:35] MichaelCurrie commented on #127
Unfortunately I still can't get a compiled `cv2.pyd` file that is for Windows, x64, with Python 3.4 bindings.

I posted about my problems at [StackOverflow](http://stackoverflow.com/questions/29747195/building-opencv-3-0-0-beta-windows-python-3-4).  Suggestions welcome, or if someone could make such a `cv2.pyd` file available for download that would be ideal!

[2015-06-06 18:41] JimHokanson commented on #127
Does this not work:
http://www.lfd.uci.edu/~gohlke/pythonlibs/#opencv

OpenCV just updated with Python 3 support two days ago I believe.

[2015-06-06 18:44] MichaelCurrie commented on #127
Of course!  I think you might be right.  Let me try that.

p.s. OpenCV had a "Release Candidate" version of 3.0 available since April 24, but yes it appears they just released the production 3.0 version on 4 June 2015.
![image](https://cloud.githubusercontent.com/assets/5267078/8020941/a3e973ae-0c49-11e5-94bf-81a859ad1247.png)

[2015-06-07 01:32] MichaelCurrie commented on #127
Worked.  Marvelous.  Thanks Jim

[2015-06-07 01:32] #127 closed

[2015-06-07 05:01] MichaelCurrie opened #132 "Rationalize video metadata / video frame metadata"
The original Schafer code had quite a few items of metadata.  We must:

1) Inventory these items and load them properly into our classes.
2) Decide which of these items are necessary to the processing pipeline
3) Decide what kinds of metadata (Schafer metadata + others we come up with) we should demand of incoming video files from the new Brown process, from Geppetto, and from other labs and model

[2015-06-07 05:06] MichaelCurrie commented on #132
**BasicWorm** encapsulates what data is contained in `example_contour_and_skeleton_info.mat`, which was the Schafer original.  This file contains two video frame metadata items:
- **is_stage_movement**, a boolean array giving for each frame of the video, whether or not the frame had a stage movement (camera is fixed, the worm is on a "stage" and this stage was slightly moved to keep the worm withi

[2015-06-07 06:12] MichaelCurrie opened #133 "Refactor WormFeatures by feature type instead of category"
Right now our code breaks down features by "category":
- Morphology
- Locomotion
- Path
- Posture

But these are really just labels we attach to group the features for reporting purposes.  As far as actual calculation, what's more important is the "type":
- simple
- movement-based
- event-based

One can imagine that code common to all event-based features would be best grouped into one class, rath

[2015-06-07 06:13] MichaelCurrie commented on #132
We also have "metadata" hardcoded in various places:
- Jim's Feature Processing Options
- config.py
- Our draft database schema

A way to group this metadata is whether it is describing:
The experiment (e.g. lab name, timestamp)
The video of the experiment (e.g. FPS, height, width, microns per pixel)
A given frame (e.g. segmentation status)

Not clear whether ventral_mode belongs at the experiment

[2015-06-08 12:26] ver228 opened #134 "Improve the eccentricity calculation"
Hey, I found a method that speeds up the calculation of the eccentricities dramatically. The basic idea is using the image moments (http://en.wikipedia.org/wiki/Image_moment) obtained from the contour using openCV (http://docs.opencv.org/doc/tutorials/imgproc/shapedescriptors/moments/moments.html).

I check with calculating the worm pixels using openCV drawContour, and using the code on h__calcula

[2015-06-11 02:42] JimHokanson commented on #133
Yesterday I was thinking of nixing this issue. Today I think we should make it a higher priority.

I would specify the issue differently.

I'd like to be able to process certain features so that I can test features which are not working see #114 . Currently we can't ignore features. This will also become important with handling skeleton only inputs.

Here's the new layout, I welcome feedback.

Som

[2015-06-11 09:12] ver228 commented on #133
Hello,

Talking with Andre about the failed tests, the mismatches in "locomotion.turns.upsilons.start_frames" and in "locomotion.turns", might be because a different version of the code was used in the database creation. If you guys thing this could be the reason, I could take care of it.

About the reorganisation. I like the idea to have the features as a dictionary. This is more similar to the M

[2015-06-12 02:45] JimHokanson commented on #133
@ver228

The values were correct at some point. Either a bug was introduced at some point or the translation from my Matlab code was wrong and code was introduced in the Python version that made the error that was always there known. I'll hopefully have it fixed soon.

The dictionary would go directly to the feature, although it wouldn't go as deep as you are suggesting. start_frames is an attribu

[2015-06-13 22:46] MichaelCurrie commented on #130
Hey @ver228, this is fantastic!  If you don't mind we'll move discussion of this over to the other topic you opened, #134.

As for areas, which I reference in my first post on this issue, I'll just mention for posterity that areas were handled by a separate issue, #127, using the Shoelace formula and so rasterization turned out not to be necessary.

[2015-06-13 22:46] #130 closed

[2015-06-13 23:22] MichaelCurrie commented on #126
This might be a good start (in [basic_worm.py](https://github.com/openworm/movement_validation/blob/master/movement_validation/basic_worm.py)):

[code]

[2015-06-14 01:19] MichaelCurrie commented on #134
This is most welcome - I just ran [`test_normalized_worm_creation.py`]() with "EXTRAS" added (i.e. with the code ending in `wf.timer.summarize()` not commented out) and got the following on my:

[code]

Eccentricity takes 322 seconds out of 394 seconds, or 82% of the total computation time.

[2015-06-14 01:29] MichaelCurrie commented on #134
Actually it's worse - 62.9 of those 394.28 seconds were to calculate the normalized worm from a heterocardinal contour.  The feature calculations therefore took just 331.38 seconds, meaning eccentricity occupies **97%** of the total feature computation time!

[2015-06-14 05:02] MichaelCurrie commented on #77
I wrote up a [nicer diagram](https://www.lucidchart.com/invitations/accept/56998da5-ae6d-45ca-a09e-0488ce3e1b6b) now.  Same idea, just hopefully more clearly expressed.

![image](https://cloud.githubusercontent.com/assets/5267078/8147283/1cf34e42-1220-11e5-80e5-ab309ffc84dd.png)

[2015-06-14 06:29] MichaelCurrie commented on #133
@JimHokanson p.s. I think you know this but I found an example of getting a class instance to behave like a dict: the [Pandas dataframe](https://github.com/pydata/pandas/blob/d776f177f832deb16bf9beb66c117f02eb0462b1/pandas/core/frame.py#L1774).  The key is to define a `__getitem__` method.

You referenced [this StackOverflow question](http://stackoverflow.com/questions/4014621/a-python-class-that-

[2015-06-15 06:29] MichaelCurrie commented on #134
@ver228 's work was successfully merged without breaking Travis CI thanks to @JimHokanson 's commits today, the last of which was d2eeeffee7764cf4f2c2b77b464e87d717ec38ff.

[2015-06-15 06:29] #134 closed

[2015-06-15 18:28] JimHokanson commented on #118
This should be handled now. Let's remove it from Travis and any import statements and we should be set.

[2015-06-15 18:43] JimHokanson commented on #117
For reference, here's the paper:
http://www.pnas.org/content/110/2/791.short

Aidan mentioned that he might be working on a different paper ...

@AidanRocke Can you clarify which paper you are referring to? "behavioral syntax"

[2015-06-15 23:03] AidanRocke commented on #117
Yes. I started working on 'behavioral syntax' and I think I can get it done
in two weeks.

I read the paper and actually understand what is required to make it work.
But, are we
planning to use all three movement validation approaches to test on the
worm simulation
at the end of June?

And is our null hypothesis that the simulated worm will behave like N2
worms?

On Mon, Jun 15, 2015 at 8:43 PM, J

[2015-06-16 01:28] JimHokanson commented on #117
@AidanRocke

Can you clarify what the three approaches are? My intention was to use as much information as we have available. However as the algorithms develop it will may prove useful to ignore certain features.

At this point, I think we would be happy with a simulation that is like any real worm, not just N2s. I think an ideal comparison point would be to include all recorded real worms and to

[2015-06-16 02:37] JimHokanson opened #138 "Tests are not running in TravisCI"
I'm 99% sure based on elapsed time that the nosetests are not running in TravisCI

[2015-06-16 06:28] MichaelCurrie commented on #138
Make that 100%.  I [just made one of the tests](d4b9eff51f4213cee0e4c9385138e5e59efbd1b9) `assert(1 == 0)` and [the build is still passing](https://travis-ci.org/openworm/movement_validation/builds/66980858).

[2015-06-16 09:07] AidanRocke commented on #117
@JimHokanson

The three approaches I meant were: SegWorm, Motif Analysis, and behavioral syntax.

I am currently in Lyon where I don't have access to an offline Python interpreter that can call the Python packages I need. But, I will be back in Edinburgh tomorrow. I can probably make some decent progress if I had access to a decent python interpreter in browser.

Might anybody know a python interp

[2015-06-16 21:21] MichaelCurrie commented on #134
BTW ran the same test after the commit, and got the following times:

[code]

[2015-06-16 21:29] MichaelCurrie commented on #108
This is moot now that we are moving back to .MD.

[2015-06-16 21:29] #108 closed

[2015-06-17 00:12] MichaelCurrie commented on #132
@slarson would you be able to place in our Google Drive folder an example folder from the Schafer corpus drive containing some .avi files along with any other accompanying files so I know what metadata is stored?

Thanks!

[2015-06-17 05:11] JimHokanson commented on #138
Ok. So I apparently had a lot of work left to do in getting OpenCV to actually work. I have a better picture of what was going wrong which I'll write up at some point. The tests are running but it can't find the files. My guess is that we need to change the file permissions since I'm pretty sure the path is correct, unless I'm making a spelling error.

I also removed the Python version support but

[2015-06-17 15:44] MichaelCurrie opened #139 "Push out a release that can be installed on pip"
Push out a release that can be installed on pip

[2015-06-17 20:32] MichaelCurrie opened #140 "Rename vulva_contour to ventral_contour and non_vulva_contour to dorsal_contour"
Is there a reason why we couldn't do this?  Am I missing something?  Because I think my suggested names are more elegant and easy to say.

[2015-06-17 22:06] MichaelCurrie commented on #132
OK I'm done with **is_stage_movement**, **is_valid**, **segmentation_status**, **frame_codes**, and **ventral_mode**.  They are all encapsulated now in the `VideoInfo` class by commit 9b1b0c3a7c8a96b0fcb0c2ae14ad6093236250ab.

[2015-06-19 00:59] MichaelCurrie commented on #133
BTW another benefit of having each of the features "know" its type is that it simplifies the HistogramManager class.  Right now, say we have a list of WormFeatures instances `wf1`, `wf2`, `wf3`.  We would initialize HistogramManager like this:

[code]
Then HistogramManager will create the simple histograms, the movement histograms, and the event histograms, for each of `wf1`, `wf2`, `wf3`, and the

[2015-06-19 02:36] MichaelCurrie commented on #132
In order for `posture.coils` code to work, the frame codes need to be properly calculated.  For `posture.coils` to work with @KezhiLi 's new algorithm, we'll need to either redo how `posture.coils` is calculated or we need to bring in the frame code calculation code, at least for codes `105` and `106`.  I'll look into the latter option.

[2015-06-19 03:39] MichaelCurrie opened #141 "Calculated NormalizedWorm does not match loaded NormalizedWorm"
In [`test_normalized_worm_creation.py`](https://github.com/openworm/movement_validation/blob/master/examples/test_normalized_worm_creation.py), now that `NormalizedWorm.__eq__` has been implemented, I'm getting the following errors when comparing `nw == nw_calculated`:

[code]

As a consequence of this I cannot run the following line:

[code]

So, some work needs to be done here.

[2015-06-19 17:33] slarson commented on #132
Ok, I started off by grabbing a random directory, but this one didn't have AVIs:

https://www.dropbox.com/sh/5xytewwbbtokj1u/AABh-KUrgV-25RiCfpixppina?dl=0

Using the path described in openworm/biological_data#1, I have uploaded a directory that has AVIs here:

https://www.dropbox.com/sh/rtzneo87y118sv0/AACJ1UnO2A1CwlxcuBPkKCFSa?dl=0

(at time of writing, this one is still uploading content!)

I'm

[2015-06-20 03:50] JimHokanson commented on #138
Tests are now running. LOTS of bugs were present

[2015-06-20 03:50] #138 closed

[2015-06-20 04:01] JimHokanson commented on #107
This is taken care of with 5826d5a4bfebcb20839466669fdcd440c276b6e3. Currently we need to specify which examples should be run.

I ended up downloading files directly from Google Drive.

[2015-06-20 04:01] #107 closed

[2015-06-20 04:02] JimHokanson commented on #140
I like it

[2015-06-20 04:03] JimHokanson commented on #118
@MichaelCurrie I believe this is done, correct?

[2015-06-20 05:16] MichaelCurrie commented on #118
Yes.  Specificially @ver228 's new eccentricity code made the old eccentricity code with its shapely dependency unnecessary.  So I removed it, with commit 6220a4c10e1343d9b44bcb80066e3725d1653c56.  Shapely no longer necessary, and the commit also removed it from the `.travis.yml` file as well.

[2015-06-20 05:16] #118 closed

[2015-06-20 05:36] MichaelCurrie commented on #107
Awesome!  I see that currently only one example is actually being run, the rest you've commented out, because of all the bugs. (see exerpt from `examples/__init__.py` below)  Still, awesome that you got the examples downloading from Google Drive!

[code]

[2015-06-20 05:48] MichaelCurrie commented on #140
OK I made the change with commit 59a4128b38042601e18a90f5dff65ea6dec2e5da.

Trivia: *Not one pieces of code in features/ contains any reference to the worm's contour!*  All features use only the other 6 normalized worm measurements: `skeleton`, `angles`, `area`, `length`, `widths`, plus some metadata from `video_info`: `fps`, `ventral_mode` and `frame_codes`.

[2015-06-20 05:48] #140 closed

[2015-06-20 05:55] MichaelCurrie commented on #138
Hey @JimHokanson are you currently only running the build on Python 3.3?

[2015-06-20 12:29] JimHokanson commented on #138
That is correct. I am going to write another issue that addresses that.

[2015-06-20 17:37] JimHokanson opened #142 "Clean up .travis.yml and bring back Python version testing"
The .travis.yml file is now working but it is a bit of a mess and also only tests Python 3.3. Python 2.7 and 3.4 should be added back (requires better path naming).

[2015-06-21 05:39] MichaelCurrie opened #143 "Possible bad data point in eigenworms file"
I eyeballed the following bad data point (the last one point seems wrong) on the black eigenworm in the [following plot](https://github.com/openworm/movement_validation/blob/master/examples/plot_eigenworms.py):

![image](https://cloud.githubusercontent.com/assets/5267078/8270615/1c891e34-17a5-11e5-8c67-b602d08600a0.png)

@balazs1987 do you agree?  I'm guessing since eigenworms are calculated from

[2015-06-22 07:13] MichaelCurrie commented on #141
OK I've fixed the shape problems.  Basically:
- lengths was wrong because of an erroneous assumption that we needed a running total length along the skeleton, when the actual data from the Schafer lab is just one skeleton length per frame.  Fixed by 541724b11d519bf94e907a37058ed62a29aac5bf.
- widths wasn't getting normalized.  Fixed by dbca43ecb4f02c3cec7e6c7d878ddffad72b17c7.

Now the errors when

[2015-06-22 07:19] MichaelCurrie commented on #141
It's possible the chain-code calculation is somehow off.  Here are some links discussing chain codes that I'll use with my further work on this:

http://stackoverflow.com/questions/22326412/how-to-get-freeman-chain-code-in-opencv
https://books.google.ca/books?id=ue0C-a59db0C&pg=PA29&lpg=PA29&dq=herbert+freeman+1961&source=bl&ots=qhR6IPaEcf&sig=o3RqVnPOGChksXGjSfTDUhJ7cnA&hl=en&sa=X&ei=216GVYmTN5KC

[2015-06-22 23:46] MichaelCurrie opened #144 "Speed up skeleton and widths code"
Running `test_normalized_worm_creation.py`, I've found that 85% or 59.311s out of the total running time of 69.91s is from computing the skeleton and widths from the contour.

About 60% or ~6s of the rest of the time of ~10s just comes from loading the `.mat` files, which probably can't be sped up, so speeding up skeleton and widths code likely our "final frontier" of low hanging fruit pre-feature

[2015-06-23 06:20] MichaelCurrie commented on #144
I did some additional profiling of `compute_skeleton_and_widths`, the function taking up 85% of the running time, and found this: (running this my laptop so the speeds won't be comparable, but you can see the relative proportion of running time at least:)

[code]

So it looks like we have `h__getMatches`, `h__roundToOdd`, and `h__updateEndsByWalking` that could be worked on to optimize.

Alternati

[2015-06-23 18:53] ver228 commented on #144
Hello,

It took me longer than expected, but I linked the Shafer basic contours with my python code. I compared with the pre-features *compute_skeleton_and_widths*, either taking all the contour points, or by normalising first the contour (taking only 49 equally spaced points).
The results time in my laptop are:

Avelino: 3.97s
OpenWorm: 31.13s
OpenWorm Normalised: 12.08s

![widths](https://cloud.

[2015-06-25 06:08] MichaelCurrie commented on #65
At this point the only thing left in `config.py` to be moved to `feature_processing_options.py` are the following four variables.  Hopefully one of us can move this soon - I'll try to soon.

[code]

[2015-06-25 17:56] MichaelCurrie opened #145 "From nw->bw->nw, problem with angles"
Running `test_normalized_worm_creation.py` on a nw->bw->nw pipeline, we have a problem with angles: `Shape mismatch after NaN filter: angles`:

[code]

[2015-06-25 18:10] MichaelCurrie commented on #145
It appears that calculated angles have exactly 400 more NaN entries across all frames than the loaded angles:
[code]

[2015-06-25 18:25] MichaelCurrie commented on #145
[code]

[2015-06-25 22:48] MichaelCurrie commented on #91
The heatmap could be created with seaborn, which is a package that sits on top of matplotlib:

http://stanford.edu/~mwaskom/software/seaborn/examples/network_correlations.html

![image](https://cloud.githubusercontent.com/assets/5267078/8367289/ea63fdbc-1b59-11e5-88dd-5aa955f820ad.png)

[code]

[2015-06-26 03:42] MichaelCurrie commented on #145
After dumping the data into pandas:

[code]

And then taking the transpose and looking at the CSV zoomed out in Excel, I see that the full-NaN periods are fine, it's the first and last couple of angles that sometimes don't get calculated for some reason.

![image](https://cloud.githubusercontent.com/assets/5267078/8370283/e973843a-1b82-11e5-9449-80eadc52fe2d.png)

[2015-06-26 03:46] MichaelCurrie commented on #145
Zooming out further, this is actually a pretty beautiful way to visualize the angles as they move in waves along the worm's body:

![image](https://cloud.githubusercontent.com/assets/5267078/8370335/99bb38c4-1b83-11e5-8a32-981c5e6e45d4.png)

[2015-06-26 03:59] MichaelCurrie commented on #145
Looking at the skeletons (loaded / re-calculated) for one problem frame, frame 21:

![image](https://cloud.githubusercontent.com/assets/5267078/8370475/67fe60a2-1b85-11e5-8bb7-093df0da3255.png)

[2015-06-26 04:52] MichaelCurrie commented on #145
the 49-point normalized ventral and dorsal contour, when passed into `compute_skeleton_and_widths`, results in a **47**-point skeleton, which is passed to `compute_angles`, which calculates 47 angles until the last step of `compute_angles`, which uses `normalize_all_frames` to normalize the temporary angle list to 49 points.

So it would seem that there is a bug in `compute_skeleton_and_widths` wh

[2015-06-27 21:23] MichaelCurrie commented on #144
Based on this I agree @ver228 that it seems at least for the one example video @JimHokanson's method (labeled as "OpenWorm"), while slower, is more accurate.

Given that @KezhiLi's CV algorithm is currently taking 50x slower than realtime to process frames, this method might not be something we need to worry about as it will not be the bottleneck in the processing, since 60 seconds to process a 19

[2015-06-27 21:52] MichaelCurrie commented on #145
The reduction from 49 points to 47 points takes place in the following:

[code]

[2015-06-29 07:28] MichaelCurrie commented on #139
The modern way to do this is not via egg (which are installed via the earlier tool easy_install) but via a wheel (which are installed via the newer tool pip):

https://packaging.python.org/en/latest/pip_easy_install.html

[Instructions on using wheels](http://pythonwheels.com/)

[2015-06-29 07:49] MichaelCurrie commented on #91
Currently we show our plots in a an application window, using matplotlib's standard backend.  For instance:
[code]

Having done some research, there are basically three options for showing plots like this in HTML:

**1. matplotlib with an mpld3 "backend":**
[code]
***2. matplotlib with a plotly "backend"***
[code]
**3. Using plotly's own API**
*[I haven't explored precisely how to do this, since p

[2015-06-29 07:55] MichaelCurrie commented on #113
This issue is sort of a duplicate of https://github.com/openworm/movement_validation/issues/91.  I'll leave both open for now.

[2015-06-29 08:35] MichaelCurrie commented on #91
Possible very bad news: mpld3 doesn't appear to support animation.  Here's a simple example (based on [this gallery example from matplotlib](http://matplotlib.org/1.4.2/examples/animation/basic_example.html)) that just rendered a blank plot window:

[code]

[2015-06-30 00:56] JimHokanson commented on #145
I'm not really sure that this is a bug. There's no reason to expect that they would be exactly the same.

[2015-06-30 01:21] JimHokanson commented on #144
I'm not 100% sure that my algorithm works on problematic videos where as the original algorithm supposedly handles lots of problematic contours. I'd like to incorporate the work of @ver228 but I'm not sure the best way forward since I'm a bit hesitant to throw the Multiworm_Tracking repo into the mix. Perhaps my hesitation is that currently the Multiworm_Tracking repo seems a bit messy and ephemer

[2015-06-30 07:03] MichaelCurrie commented on #91
I got the `nbagg` backend (which is derived from the aforementioned `webagg` backend) to show an animation within an IPython notebook, which I'm realizing might be a nice way to show our results anyway.  I've loaded it as [`animation test.ipynb`](https://github.com/openworm/movement_validation/blob/master/examples/animation%20test.ipynb).  You can run it locally on your machine or online via a ser

[2015-06-30 11:10] aexbrown commented on #144
The plan is definitely to continue to build up Multiworm_Tracking to the point that you would be comfortable writing code that depends on it.  @ver228 and I were just discussing this yesterday.  Could we have a discussion about what would be required?

Re: speed, @KezhiLi's algorithm may only be run on relatively rare challenging segments (e.g. self-intersections, thick food, and worm-worm collisi

[2015-07-01 19:32] ver228 commented on #144
Hello,

I finally finished to organised and document the [Multiworm_Tracking](https://github.com/ver228/Multiworm_Tracking/) repository. I guess there are still a few things to do, like upload example files, but I would do them in the next days. @JimHokanson no offence taken, the repo was a bit scattered or not that well organised, that's why it looked more ephemeral that it really is. I grouped a

[2015-07-02 01:33] JimHokanson commented on #145
So without looking too closely at the code my guess is that things are failing because of a mismatch in size on the smoothing that is done when calculating angles. In general we might benefit from reducing the # of points used in calculating the skeleton, see issue #144 . For small entries, such as this one where we are starting with the normalized worm, and upsampling (rather than downsampling) m

[2015-07-02 02:42] JimHokanson commented on #114
This turned out to be an error introduced by @MichaelCurrie :stuck_out_tongue:

In all fairness one of us had written != None when in reality is not None is the appropriate way of writing this. It had been changed to look for numpy arrays which doesn't work with scalar inputs

[2015-07-02 02:42] #114 closed

[2015-07-02 02:45] JimHokanson opened #146 "non-equal feature comparisons in validate features should be an error"
Currently validate features is being used in our tests. However we are currently only testing that it runs, not that the comparisons are actually equal. We should run all of the comparisons and then throw an error at the end if any of them are not the same.

[2015-07-02 02:46] JimHokanson commented on #114
We need to change the example to throw an example if the comparisons fail for Travis testing, see #146

[2015-07-02 06:56] MichaelCurrie commented on #114
Oops!  Nice catch.

[2015-07-02 17:33] MichaelCurrie commented on #91
Another plot we could show is this lovely one showing path but annotated with omega and piroutte events:

![image](https://cloud.githubusercontent.com/assets/5267078/8483460/05b43a10-20ae-11e5-8555-c36313917cb8.png)

From [Mechanistic analysis of the search behaviour of *Caenorhabditis elegans*] (http://rsif.royalsocietypublishing.org/content/11/92/20131092) by Salvador *et al.*

[2015-07-02 18:54] JimHokanson commented on #144
@ver228 @aexbrown The changes look good. I think the way we'll move forward then is in issues and pull requests targeted at that repo. I'll try and provide suggestions as issues when I have a bit more bandwidth.

As far as this issue is concerned, I'll work on incorporating calls to Avelino's code into the codebase. There will probably also be some pull requests made to the SegwormPython code as a

[2015-07-02 18:57] JimHokanson commented on #141
Given that we are using different algorithms for calculating the skeleton (and thus the width & length) and that a different algorithm for the area, I think we are all set.

[2015-07-03 03:07] JimHokanson commented on #133
I worked on this a bit tonight. I'm adding the code directly to the master branch so that things stay up to date. There is a new test file in the examples that creates the morphology features via iteration. It still needs a lot of work and will probably need some refactoring once completed but this should make a lot of things cleaner.

[2015-07-03 06:08] MichaelCurrie commented on #146
I made sure it works by making the build fail with 480eea2e43e32028804d88e0ae2f3315e82f0aff.

Then I made it pass with 3dfde14a1325251ca1ab7f6e0c3aa387fa999d16 by fixing `posture.bends`, which didn't have an equality method and thus Posture was returning None which was interpreted as a fail since assert(None) throws an error.

[2015-07-03 06:08] #146 closed

[2015-07-03 06:10] MichaelCurrie commented on #114
A remaining error: Posture returns None (see above)

The cause is that `posture.bends.__eq__` was not implemented.

I fixed this with 3dfde14a1325251ca1ab7f6e0c3aa387fa999d16, now the tests pass, see #146.

[2015-07-03 20:43] MichaelCurrie commented on #91
I've got the standard NormalizedWormPlottable animation working in an IPython notebook now.  The animation is pretty jerky for me though; it renders only one out of every two to four frames.

![image](https://cloud.githubusercontent.com/assets/5267078/8504620/e3a13466-2191-11e5-876c-dc0d08e6808a.png)

[2015-07-04 03:52] MichaelCurrie commented on #145
OK I [implemented upsampling](cd1734f74d68b7d5a78ccd4117533ba40bf84797) as you suggested but unfortunately it did not change the message.  Actually upsampling also somehow causes length to have a lower correlation somehow.  My guess is that it's an off-by-one error in the code I linked in my previous comment.

[2015-07-04 05:27] MichaelCurrie commented on #145
I tried creating a special case in h__updateEndsByWalking if the number of points is 49 or less:

[code]

But this did not work in all frames and further lowered the correlation with the previously calculated value for skeleton length.

[2015-07-04 05:59] MichaelCurrie commented on #145
I give up! :)

Here's my final commit on this: cdf9c9f85d2ace0b18cec58031f2caae2169ba7b

I added the flag `merge_nans=True` to the NormalizedWorm.__eq__ code so now NaNs for angles are ignored.

[2015-07-04 05:59] #145 closed

[2015-07-04 22:23] MichaelCurrie commented on #76
I'm working on `manager.py` right now so I'm going to move some of my notes on progress from the preamble of that code file to here:

[code]

[2015-07-06 02:53] JimHokanson commented on #126
@MichaelCurrie What is the status on this?

[2015-07-06 03:05] MichaelCurrie commented on #126
I didn't use `nested_equal`; instead I used `utils.compare_attributes`.  Definitely done, and there are two unit tests for it, in [`test_pre_features.py`](https://github.com/openworm/movement_validation/blob/master/tests/test_pre_features.py), which replaced `test_normalized_worm_creation.py`

[code]

[2015-07-06 03:05] #126 closed

[2015-07-07 02:58] MichaelCurrie opened #147 "Travis CI failing: Can't open hdf5 file"
Travis CI seems to be able to open

- `example_video_norm_worm.mat` and  (which uses `scipy.io.loadmat`)
- `example_video_feature_file.mat`,   (which uses `h5py`)

But it is giving an error when using:

- `example_contour_and_skeleton_info.mat` (which uses `h5py`)

For instance, here is the [error in build 192](https://travis-ci.org/openworm/movement_validation/builds/69826442):
[code]

The `test_

[2015-07-07 03:07] MichaelCurrie commented on #147
It might be something to do with Google Drive file link.

[2015-07-07 09:06] ver228 commented on #144
Hello,
I uploaded a small sample video and of the output files of the multiworm tracker into:

https://drive.google.com/folderview?id=0B8Kl8D4WTGWGfjVJSmRBSmo3ZzMtaU1WQW00dElCVV9udDNaSEtTa05HRGZ3clFwQ25kQXc&usp=sharing

I generate the output using the script https://github.com/ver228/Multiworm_Tracking/blob/master/examples/process_single_file.py.

Cheers,
AEJ

[2015-07-07 18:49] MichaelCurrie commented on #147
Ah, it appears that if I type the example_contour_and_skeleton_info.mat file into a browser, the file exceeds the maximum size Google can scan for viruses so there is an extra prompt before the download can occur:

![image](https://cloud.githubusercontent.com/assets/5267078/8554335/95a33b20-24a6-11e5-8323-ee3f63e45b15.png)

So there is some flag we need to add to `wget` I bet.

[2015-07-07 19:00] MichaelCurrie commented on #147
This is a stackoverflow issue: http://stackoverflow.com/questions/20665881/direct-download-from-google-drive-using-google-drive-api

The base example_data folder is:

`https://drive.google.com/drive/u/0/folders/0B7to9gBdZEyGNWtWUElWVzVxc0E`

This tells us the UUID is `0B7to9gBdZEyGNWtWUElWVzVxc0E`.

We are supposed to treat this like a web host by prepending `https://googledrive.com/host/` to the

[2015-07-07 19:03] MichaelCurrie commented on #147
Oops, accidentally closed this issue.

[2015-07-07 20:08] MichaelCurrie commented on #91
Another idea is to be able to plot one feature against another in a scatterplot for analysis purposes:

e.g. http://matplotlib.org/examples/axes_grid/scatter_hist.html

![](http://matplotlib.org/_images/scatter_hist.png)

[2015-07-07 22:05] JimHokanson commented on #147
The new approach requires a sign in ...

[2015-07-07 22:13] JimHokanson commented on #147
Changed the permissions, should work now ...

[2015-07-07 22:14] MichaelCurrie commented on #147
OK I just made an unrelated commit, that should trigger another Travis CI build, we shall see if it works.

[2015-07-08 00:57] JimHokanson commented on #147
It is fine now. A summary:

1) Apparently the googledrive.com url is the best approach for downloading these files. Apparently over a certain file size limit the old way was prompting to download since a virus scan couldn't be run.
2) The permissions were also incorrectly set on the file. This might have been my fault from an earlier change trying to fix problem 1. I changed the settings again so

[2015-07-08 00:57] #147 closed

[2015-07-10 04:07] JimHokanson opened #148 "Distance per frame bug in EventListWithFeatures"
Currently distance_per_frame is initialized to None in __init__ of EventListWithFeatures but it is used for determining the # of frames. I think our current code works because we tend to pass it in but we should pass in the # of frames to the __init__ function so that distance_per_frame can truly be optional.

[2015-07-10 05:58] MichaelCurrie commented on #76
Statistics code is now completely translated and working.  For each histogram we have a value from the Shapiro-Wilk normality test, and for each feature we have a p-value from both a parameterized (Student's t) and non-parameterized (Wilcoxon signed-rank) test.  We also have a "q-value" following Storey et. al (2002) which tried to adjust for the passive p-hacking that could take place when we try

[2015-07-10 05:58] #76 closed

[2015-07-10 22:36] MichaelCurrie opened #149 "Validate that statistical significance figures agree"
So far we've validated that our Python port agrees with the Schafer code for:

1. BasicWorm
2. NormalizedWorm
3. WormFeatures

But we have yet to validate:
4. HistogramManager
5. StatisticsManager

I suggest we may be able to skip validating (4) if we focus on (5).  Apparently there are .MAT files generated for this ([see p113](https://github.com/openworm/SegWorm/blob/master/Worms/Printing/methods

[2015-07-12 19:46] MichaelCurrie commented on #91
@clinzy and I are working on this one this week.  `generate_stats_plots.py` is our template for which plots to generate.

[2015-07-12 20:24] clinzy opened #150 "statistics_manager.WormStatistics.plot generates an unhandled exception for features without histograms"
So far I have found that feature numbers 50 and 54 generate the following when one attempts to use StatisticsManager[feature_number].plot().

Traceback (most recent call last):
  File "generate_stats.py", line 169, in <module>
    main()
  File "generate_stats.py", line 55, in main
    statistics_manager[feature].plot(axarr[plot_tuple])
  File "../movement_validation/statistics/statistics_manager.

[2015-07-12 20:30] clinzy opened #151 "WormPlotter Animated Plot Issues in OS X"
As is the WormPlotter code sets blit=True (worm_plotter.py line 259)  which causes the following error with matplotlib on OS X:
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/matplotlib/animation.py", line 855, in _blit_clear
    a.figure.canvas.restore_region(bg_cache[a])
AttributeError: 'FigureCanvasMac' object has no attribute 'restore_region'

Setting bli

[2015-07-14 04:58] JimHokanson opened #152 "merge_nans is too accepting of nan values"
In refactoring I discovered that a couple of errors had been introduced into crawling bends but that they had not been caught due to allowing all nans to be removed before comparing (via merge_nans=true). I think in this case our entire feature was nans due to 1 of the errors. Comparing 1 valid feature to another feature with all nans works if all frames with nans in either feature are first remov

[2015-07-17 17:10] clinzy commented on #91
The code that was used to generate the original files seems to be scattered here:
https://github.com/openworm/SegWorm/tree/master/Util

[2015-07-24 17:09] MichaelCurrie opened #153 "Some features are always calculated to be NaN"
In investigating the histogram output on our sample of 10 Schafer feature files, it appears some features are never calculated.

This comes from the following lines of `generate_stats.py`:

[code]

[code]

[2015-07-24 18:23] MichaelCurrie commented on #153
Most are okay, though:

![image](https://cloud.githubusercontent.com/assets/5267078/8881643/6b8017de-320f-11e5-87a0-8b78e1e077fc.png)

Cumulative invalid histograms (including features where some videos had valid histograms and some did not):

![image](https://cloud.githubusercontent.com/assets/5267078/8881658/8eb3a932-320f-11e5-8a63-35601f5041e1.png)

[2015-07-24 18:55] MichaelCurrie commented on #117
We had a significant discussion about this at the [17 July 2015 movement validation meeting](https://docs.google.com/document/d/1-mzLg7JynAyf3uurBj0OjZdzUaKlksdxunXEUYQtp3E/edit?usp=sharing): basically @AidanRocke has a repository for this here: https://github.com/AidanRocke/behavioral_syntax, but it's "behavioural syntax" not "Motif Analysis", as that's the approach that both he and André favour

[2015-07-25 03:37] JimHokanson commented on #153
Does this still happen? Are you using a cached version of the histograms? I fixed a bug about a weak ago in which one feature was no longer being computed. This is related to the issue I setup regarding the comparison being too lenient when merging nans #152

[2015-07-25 04:26] JimHokanson commented on #133
An update:

The new code can be run at:
test_new_feature_organization   in the examples folder. It will currently stop in the debugger after all of the features have been computed.

The code is incomplete but it should give some idea of where things are headed.

Outline:
WormFeaturesDos (will soon be new WormFeatures) loads specs. Each spec specifies a feature name and how to instantiate it (modul

[2015-07-25 04:43] MichaelCurrie commented on #153
It's definitely not because of the cached (pickled) histograms in `generate_stats.py`; I've definitely deleted by pickle file this past week.

I agree this is related, and as you say in that issue it means we may be fooling ourselves when we think we are agreeing with the Schafer code in the cases where we are generating all NaNs for the feature.

[2015-07-26 23:02] clinzy commented on #91
Is there a way to separate the features by worm movement state, e.g. Forward Length-Paused Length-Backward-Length?

[2015-08-12 20:58] MichaelCurrie opened #154 "Add an "advantages of this repo" document"
It was suggested that we more directly and fully articulate the reasons for why we would want people to use and adapt our code rather than going back to the original Schafer codebase.  Reasons might include:
- Our port has involved substantial refactoring and code review which has already uncovered several off-by-one errors and other bugs in the original code.  We have set up a framework for unit

[2015-08-14 16:40] MichaelCurrie opened #155 "Ensure standalone version can also work."
So far our interest has been getting videos processed and features calculated and displayed in a cloud-based setting.

Ensuring that a fully local version of the package can also be used has been highlighted as a priority by André Brown, since some labs may not want to share their videos but may still want to use our processing capabilities.

This could be achieved with as much code reuse as possi

[2015-08-14 16:45] MichaelCurrie commented on #110
The database schema is here:

https://github.com/openworm/movement_validation/tree/master/documentation/database%20schema

A critical thing will be making the schema flexible enough to handle the Brown Lab's new multiworm data.  This includes adding the notion of a "plate feature".

[2015-08-14 18:42] MichaelCurrie opened #156 "Rename to "open-worm-analysis-toolbox""
[As discussed on 14 August 2015](https://docs.google.com/document/d/1mZzRSwli55monirLBZ5US6cqHrMAUMj6TTBIO4XY-14/edit), we'd like to rename "Movement Validation" to "Movement Analysis" to better reflect how validating simulation output is just an application the more general worm analysis package we've been creating.

New name could be OpenWorm Movement Analysis Utility, which André Brown points o

[2015-08-14 18:44] MichaelCurrie opened #157 "Feature renaming"
To fix:

https://github.com/openworm/movement_validation/blob/master/documentation/Yemini%20Supplemental%20Data/ReadMe.rst

- Bend count is kinks
- Dwelling is duration
- Orientation is posture.directions
- Rename foraging since that's apparently not an accepted term by other academics, according to André Brown.  E.g. we could rename to Head Oscillations

[2015-08-20 03:02] MichaelCurrie commented on #91
@clinzy [HistogramManager](https://github.com/openworm/movement_validation/blob/master/movement_validation/statistics/histogram_manager.py) does this.  For any given feature it calculates histograms sampled when the worm is moving forward, backward, and paused.

[2015-09-18 17:46] clinzy commented on #91
Currently there is code to to generate a PDF similar to those generated by Shaffer Labs for histograms of features such as length, speed, etc. There are additional plots that show the worm paths annotated with turns and color coded for values of various features. This latter part I am currently looking at in terms of interface/design patterns to allow the plots to be generated and referenced simil

[2015-10-07 18:03] MichaelCurrie opened #158 "Investigate these client-server examples"
Here are some examples of platforms featuring a server side with lots of data, and a thin client side making analysis requests to the server.

- Geppetto

[2015-10-14 00:59] JimHokanson commented on #158
Apparently in Canadian some can be singular ... :stuck_out_tongue:

[2015-10-14 01:02] MichaelCurrie commented on #158
A couple more were mentioned in the meeting but I forgot their names!  @slarson and @pgleeson had a couple of examples as I recall.  Gentlemen, can you help save me from Jim's hackle-raising?

[2015-10-14 01:11] JimHokanson opened #159 "Angular speed and direction"
In the locomotion velocity sections, there is a a direction feature.

Internally this is referenced as angular speed.

The angular speed however seems to be an angular velocity that is not being properly scaled by the number of frames over which the calculation is occurring. This is something I noticed when originally writing the updated Matlab code and then I suspected at the time was an error.

[2015-10-15 03:10] MichaelCurrie opened #160 "Shape mismatch in velocity.compute_speed"
Running `validate_features.py`, I get the following error:

[code]

[2015-10-15 05:37] MichaelCurrie commented on #160
This is happening because for some reason @JimHokanson you are now declaring
[code]
instead of
[code]
So `speed.shape = (1,num_frames)` instead of `(num_frames,)`.

So a few lines needed to be modified:

`speed[keep_mask] = distance / time` to `speed[0,keep_mask] = distance / time`, etc.

The old code returned the shape `(1,num_frames)` in the coner case that `frames_per_sample > num_frames`, so p

[2015-10-15 05:37] #160 closed

[2015-10-15 05:39] MichaelCurrie opened #161 "Error running validate_features.py: event_data different shape"
Running `validate_features.py` I have the following error:

[code]

Also I'm not sure why this and issue #160 weren't caught by the Travis CI system.  That's worth looking into as well.

[2015-10-15 09:32] pgleeson commented on #158
Widely used in the bioinformatics community:
https://galaxyproject.org/

You could have a look at this too, new feature "Tables" for structured web friendly queries
https://www.synapse.org

[2015-10-15 14:07] JimHokanson commented on #160
Oops. I had meant to test the change and then I got distracted with parenting duties. I think I'd rather that the code was the way it was originally, rather than how you fixed it (i.e. just use (num_frames) on the full() operator rather than (1,num_frames)). Stupid shape mismatch things like this can be a pain in the butt down the road.

The change was originally made because in the corner case th

[2015-10-16 16:36] clinzy commented on #91
I have created classes that plot the path of the head, mid, and tail portions as well as the overall worm. I have also created classes to provide point annotations for the turns and start/end positions. There is also a class that colors the worm path based on the velocity at each frame but I am unable to find a set of velocities in the WromFeatures object resulting from the from_disk method that c

[2015-10-16 20:22] clinzy opened #162 "Nan direction and speed values in velocity feature from example .mat files"
The example .mat data files I have examined, this includes example_video_feature_file.mat, have Nan for all positions in the speed and direction arrays of the locomotion.velocity features. This is the case for each of the segements (head, midbody, tail, etc).

array([[ nan],
       [ nan],
       [ nan],
       ...,
       [ nan],
       [ nan],
       [ nan]])

[2015-10-16 22:00] MichaelCurrie commented on #162
Are you using the latest version of master of movement validation?  Thanks

[2015-10-16 22:44] clinzy commented on #162
Yes and the example above is reading in the file directly using h5py.

[2015-10-16 22:47] MichaelCurrie commented on #161
Basically I handled this with:

[code]

[2015-10-16 22:47] #161 closed

[2015-10-16 22:47] MichaelCurrie opened #163 "Locomotion shape mismatch issues"
When running `validate_features.py`:

[code]

[2015-10-16 22:51] MichaelCurrie commented on #162
Hmm.  That's strange because the worm is definitely moving.  Maybe it's related to the array shape issues I'm getting since some of Jim's code changes went from arrays of shape `(n,)` to `(1,n)`.  (see #163).  In particular, `motion_mode` here is I think being returned with shape `(1,)` incorrectly:

[code]

Let me try to fix #163 and see if that fixes your issue.

[2015-10-16 23:34] MichaelCurrie commented on #163
OK latest commit fixed some of it, but still these errors remain:

[code]

[2015-10-17 02:37] JimHokanson commented on #163
This is the old code and has more to do with actually making comparisons properly rather than anything to do with shape changes. This code works with the new feature organization.

In other words, the real issue here is that validate_features.py needs to be written from test_new_feature_organization.py and the old features need to be removed.

[2015-10-17 02:45] JimHokanson commented on #162
@clinzy These values are computed by being smooth over time. Rather than filtering a frames value is calculated based on its neighbors before and after the frame. This means that in the beginning of the video and at the end the values are undefined because no values proceed or follow those frames. It looks like you are only looking at the beginning and end values. If you plot the data you can see

[2015-10-17 02:48] JimHokanson commented on #161
@MichaelCurrie In general I'd like to void this kind of code. This code is not at the entrance of the file but in the middle of it. Instead, I'd prefer if we 1) make sure any new code uses a 1d vector when the data only has 1 dimension (that was an error on my part) and 2) Any code being loaded from disk from old files should be corrected at that point. I've gotten bitten by this problem before an

[2015-10-17 02:53] JimHokanson commented on #152
This was changed with commit 0364211298bef9be1a06ce6042bb161cbe245378.

This is actually what is causing validate features to fail now!

[2015-10-17 02:53] #152 closed

[2015-10-17 02:56] JimHokanson opened #164 "Switch to new features organization"
We still need to remove the old feature organization approach and transition to the new one. This requires changing the stats code.

@MichaelCurrie Let's get this done soon. Let me know if you want help with anything.

[2015-10-17 03:08] #162 closed

[2015-10-18 06:08] MichaelCurrie commented on #164
I agree, and as a first step I was validating that the features still calculate.  Hence my debugging `validate_features.py`.  I guess you're saying that the test of the new features code is actually in `test_new_feature_organization.py`, though, so once I make sure `validate_features.py` works I'll try out `test_new_feature_organization.py`.

Once that all works I'll work on the statistics code.

[2015-10-18 06:11] MichaelCurrie commented on #163
So `validate_features.py` is deprecated?  I should ignore those final Mismatch of NaN values per frame in `locomotion.bends.head.amplitude` and `locomotion.crawling_bends`?

If so we can just close this issue

[2015-10-18 06:25] MichaelCurrie commented on #164
OK I've moved `examples/test_new_feature_organization.py` to `tests/test_features_dos.py`.  It runs great!  (20 seconds and no errors)

[2015-10-18 06:36] MichaelCurrie commented on #164
The file for me to change over to `WormFeaturesDos` is `video_to_features.py`, specifically the line:

[code]

I'm assuming it's not as simple as changing it to
[code]

Since `HistogramManager` won't be able to access the features in the `wf` object in the same way as before...

I'll start working on it.

[2015-10-18 22:19] MichaelCurrie commented on #164
So it looks like the change is to access features, we have the old way:

[code]

and the new day:

[code]

[2015-10-18 22:40] JimHokanson commented on #164
That is correct, although I believe that some features may be None (current behavior). This is something that really needs to get written up into a design document (in terms of data guarantees). I had started working on that but I haven't finished it yet. Given that the feature itself is a class which holds a numerical value (in the value attribute), ideally no features would be None, only their v

[2015-10-20 06:00] MichaelCurrie commented on #164
So currently `Specs.specs_factory()` is called by the SimpleSpecs, MovementSpecs and EventSpecs initializers and the CSV list of features passed is in `statistics\feature_metadata`, spread across three CSV files: `event_features.csv`, etc.

In contrast, `WormFeaturesDos` gets its features names from `features\feature_metadata\features_list.csv`.  I will need to change the `Specs` code to also use

[2015-10-20 13:50] JimHokanson commented on #164
@MichaelCurrie
Some thoughts.
Based on our previous discussions, the hope was to not include ALL of the feature specifications in the new csv file.

I think including units and names is fine. I had initially shied away from the idea of including anything related to how to calculate histograms in these files. Perhaps we could include a generic 'type' that any feature could contain and we could deci

[2015-10-29 01:02] JimHokanson commented on #163
That is correct.

[2015-10-29 01:02] #163 closed

[2015-11-12 22:01] MichaelCurrie commented on #123
I posted a $5 USD bounty for this easy issue to see if the bounty system works.  Feel free to try to claim it!

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=14332461)](https://www.bountysource.com/issues/14332461-go-back-from-rst-to-md?utm_source=14332461&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2015-11-13 17:39] #123 closed

[2015-11-13 17:40] MichaelCurrie commented on #123
@clbarnes go to [![Bountysource](https://api.bountysource.com/badge/issue?issue_id=14332461)](https://www.bountysource.com/issues/14332461-go-back-from-rst-to-md?utm_source=14332461&utm_medium=shield&utm_campaign=ISSUE_BADGE) to claim your bounty.

[2015-11-20 19:12] AidanRocke opened #167 "using reportlab to generate reports"
At the Nov. 20 meeting the possibility of automatically generating lab reports in pdf format was discussed as this might interest scientists who currently take maybe 1-2 hours creating reports from matlab-generated calculations and figures.

Besides this use case, reports might be very useful in step 7 of Stephen's plan for the simulation: https://github.com/openworm/OpenWorm/blob/development/mast

[2015-11-20 21:20] MichaelCurrie commented on #117
Hi @AidanRocke I still need to do a code review here, but do you think we are close to marking this one off as complete?  Thanks!

[2015-11-20 22:13] AidanRocke commented on #117
Yes. I'd like to know what you think about the structure of my code.

Cheers,

Aidan

On Fri, Nov 20, 2015 at 9:20 PM, Michael Currie <notifications@github.com>
wrote:

[2015-12-05 17:47] JimHokanson commented on #164
@MichaelCurrie

I don't like that the feature expansion is done when calculating statistics. It seems like these things should be separated. Any thoughts on how to implement this?

Maybe something like:
[code]

Thoughts?

[2015-12-05 22:32] MichaelCurrie commented on #164
Yes I like it.  Basically the "specs" code would need to be moved over to the features subpackage.  I'll think about this some more soon.

[2015-12-18 23:11] JimHokanson opened #168 "Equality testing of events"
Currently I've hardcoded in equality for comparison of events. This needs to be changed.

See generic_features.py => EventFeature.__eq_(self,other)

[2015-12-20 03:07] MichaelCurrie commented on #139
As described here:
http://python-packaging-user-guide.readthedocs.org/en/latest/distributing/

1. Create a setup.py file
2. Register a username/password with PyPi https://pypi.python.org/pypi?%3Aaction=register_form
3. Do this:

python setup.py sdist
python setup.py bdist_wheel
python setup.py register
twine upload dist/*

4. Look for your package on the PyPi site:
https://pypi.python.org/pypi?%3A

[2015-12-27 23:10] MichaelCurrie commented on #143
@balazs1987 or @aexbrown do you agree?  I'd appreciate your comments on this one.

[2015-12-27 23:13] MichaelCurrie opened #169 "Have BasicWorm inherit from WCONWorms"
This will connect `open_worm_analysis_toolbox` with [the `wcon` package](https://pypi.python.org/pypi/wcon/).

This will allow us to convert Schafer Lab files into WCON files, including by moving the metadata into the file.

After meeting with Jim on 19 Dec, we agreed it would be best to just subclass BasicWorm now, rather than trying to do the same for NormalizedWorm or WormFeatures.

Once this i

[2015-12-27 23:45] MichaelCurrie commented on #169
@aexbrown one reason for this will be wanting to take the original Schafer skeleton files and:

- serialize them into WCON format, as well as
- marrying them with their metadata in that WCON file.

This way each individual worm experiment will have all its data and metadata stored in one place for easy downstream handling.

Questions:
1. Do you agree with this approach?
2. Where is the metadata fo

[2015-12-28 01:43] Ichoran commented on #143
I don't understand what all the lines mean, but if the X-axis is time and the Y-axis is component value, and the trace stops because the animal was lost or did something weird (like execute an omega turn), you can certainly have a discontinuity.  You'd expect one, for example, when going from a C shape to an O shape, or colliding with an egg or a dark edge of bacteria or any number of other things

[2015-12-28 07:19] MichaelCurrie commented on #143
Sorry I didn't label it: X-axis is segment number and Y-axis is "normalized angle"; viz. [Brown *et al.* 2012](http://www.pnas.org/content/110/2/791.full.pdf)

[2015-12-29 06:59] MichaelCurrie commented on #142
I created a branch to work on this problem (https://github.com/openworm/movement_validation/tree/Get-Travis-On-All-Versions)

[2015-12-30 08:36] MichaelCurrie commented on #142
Fixed by 669b81b575ee1060522951fd842504b9f39c5909

Now we're testing for Python 2.7, 3.3, 3.4, and 3.5.

[2015-12-30 08:36] #142 closed

[2015-12-30 20:15] MichaelCurrie commented on #156
I had a further discussion with @JimHokanson about this and we both decided against "pow-wow" as the new name.  We want to strike a balance between providing a unique name that mentions worms and analysis while not claiming we are not at base a port of the Schafer Lab's ["Worm Analysis Toolbox, version 1.3.4"](http://www.mrc-lmb.cam.ac.uk/wormtracker/index.php?action=analysis).  So we went with:

[2015-12-30 21:55] MichaelCurrie commented on #77
This was done in Summer 2015, not sure why we didn't close it back then.

[2015-12-30 21:55] #77 closed

[2015-12-30 22:20] MichaelCurrie commented on #156
I've renamed the repo and made changes to the files and folders to reflect the change.

https://github.com/openworm/open-worm-analysis-toolbox/pull/173

[2015-12-30 22:20] #156 closed

[2015-12-31 03:35] JimHokanson commented on #164
Just an update on where I'm at.

I'm currently trying to implement generate_stats_dos.

The new change is to first load each feature from disk rather than passing them into the histogram manager. From there I'm manually "expanding" the features so that this is an explicit step. I'm almost done with this step, I just need to work out a problem with copying a "simple" feature, which for some reason

[2016-01-02 18:45] MichaelCurrie commented on #106
I feel like each example has an explanation docstring at the top of the file.  It looks like there isn't much will to maintain a separate file which might quickly lose sync with the individual files.  It's not a bad idea but perhaps we should close this issue for now?  I'll do that but feel free to re-open if you disagree.

[2016-01-02 18:45] #106 closed

[2016-01-02 19:11] MichaelCurrie commented on #96
I put the discussion of tools at the bottom, and added the scipy dependency.  I added language explaining how you don't need a Google Drive account, and I believe the user_config explanation is adequate now.

(Three commits ending in b61070c8898bb8f4a36318c2d4eb1a46fb2ad904)

[2016-01-02 19:11] #96 closed

[2016-01-02 19:20] MichaelCurrie commented on #53
Added usage example: c94e7b80673126280c5e7f86e0d0f4d01c691345

Pip installation is covered by a different GitHub Issue, #139.

[2016-01-02 19:20] #53 closed

[2016-01-02 19:22] MichaelCurrie commented on #75
I think this is outside the scope of what we are trying to accomplish for now.  We can feel free to re-open this issue if we change our minds later.

[2016-01-02 19:22] #75 closed

[2016-01-02 19:26] MichaelCurrie commented on #6
This was handled by how the path of the worm is shown in the main window of NormalizedWormPlottable.  This has been available since summer 2015.  ([As discussed at the 14 August 2015 meeting](https://docs.google.com/document/d/1mZzRSwli55monirLBZ5US6cqHrMAUMj6TTBIO4XY-14/edit?usp=sharing))

[2016-01-02 19:26] #6 closed

[2016-01-02 19:50] MichaelCurrie commented on #3
Similar to #6.  I think this is good now.

[2016-01-02 19:50] #3 closed

[2016-01-02 20:12] MichaelCurrie commented on #7
We can handle a lack of contour.  `BasicWorm.from_skeleton_factory` will accept just a skeleton a create a contour.  It's not a very accurate contour, it just uses a sine function above a below to create "bulge", but we can still do it.

[2016-01-02 20:12] #7 closed

[2016-01-02 20:13] MichaelCurrie commented on #70
This is covered by #117

[2016-01-02 20:13] #70 closed

[2016-01-02 20:16] MichaelCurrie commented on #2
The plot I was referring to was the one generated by `NormalizedWormPlottable`.  As discussed in #6., this was done in summer 2015

[2016-01-02 20:16] #2 closed

[2016-01-02 22:06] MichaelCurrie commented on #57
`worm_plotter.py` no longer uses `FPS` from `config.py`, instead getting it from the `VideoInfo` object.

Now, in `config.py`, `FPS` is renamed `DEFAULT_FPS`, and its only use is in the initializer for `VideoInfo`:

[code]

I'd argue this is ideal for the long term, as it's just providing a value if none was provided.  So we can close this issue, I believe.

[2016-01-02 22:06] #57 closed

[2016-01-02 22:13] MichaelCurrie commented on #65
I removed all of the four above as they are not used by any other code anymore.

So handled by 66f393dc12936257c363ef6bdd220dac4a11fca4.

[2016-01-02 22:13] #65 closed

[2016-01-03 03:35] MichaelCurrie commented on #62
I took a crack at this today.

It seems like to generate HTML from MD, [MkDocs](http://www.mkdocs.org/user-guide/deploying-your-docs/) is used, and to generate HTML from RST, Sphinx should be used.  Sphinx includes a feature called [autodoc](http://sphinx-doc.org/ext/autodoc.html), which is the killer app as far as I'm concerned - it's supposed to rip out the docstrings from each class and functio

[2016-01-03 03:35] #62 closed

[2016-01-03 05:06] MichaelCurrie commented on #87
This is superseded by @KezhiLi's work on a new CV algorithm, so I'll mark this closed.  Feel free to re-open if someone wants to do this.

[2016-01-03 05:06] #87 closed

[2016-01-03 05:11] MichaelCurrie commented on #124
Right now BasicWorm represents skeletons and contours as lists of 2d numpy arrays, so there is no need for 3d ndarray support in NormalizedWorm.

That said, once BasicWorm inherits from WCONWorms, the skeleton and contour will be represented as a pandas dataframe, with an "aspect_size" entry for each timeframe specifying how many articulation points there are, and NaNs are used to pad non-maximal

[2016-01-03 05:11] #124 closed

[2016-01-04 20:41] aexbrown commented on #169
I do agree with the approach.  After skeletonisation and feature extraction, the analysis pipeline created a file with suffice ‘_features.mat' which contains two structs.  One is called ‘worm' and one is called ‘info'.  The worm struct has the skeletons and other feature data, the info struct has the metadata.  The original metadata that was used to create the info struct is in several places.  So

[2016-02-14 04:06] MichaelCurrie commented on #143
No one has replied so I'm going to close this issue since it hasn't caused any problems.  We can re-open if we want to fix this later.

[2016-02-14 04:06] #143 closed

[2016-02-14 04:07] MichaelCurrie commented on #111
This is probably under the "nice to have" category as in practice our data flow will involve uploading all the files into the S3 store in a batch from a script, not loading them one at a time from the web.

[2016-02-14 04:07] #111 closed

[2016-02-16 03:12] JimHokanson commented on #164
Update.

We are currently rewriting features to take care of some edge cases. I just finished implementing the setup for "requested features" as opposed to ones that are just caculated because of dependencies.

**Next Step 1:**
The next step would be to implement get_spec_table() which would return the specs in Pandas.

Then we need to implement a function that computes features based on a list of

[2016-02-17 02:32] JimHokanson commented on #164
"Next Step 1" is now done with the latest commit.

See test_spec_filtering()

[2016-02-17 03:12] JimHokanson commented on #164
I added a TODO for utils.print_object()

This is sort of a bonus request, but I think it would help me with debugging and in general with user interaction ...

I think we need to first eliminate some values, e.g. the contour of the normalized worm, and then deal with the consequences (e.g. making contour dependent features empty features)

[2016-02-18 03:00] JimHokanson commented on #164
Pulled from master. Starting to rewrite tests.

Next steps:
Populate "empty" attributes (see notes in generic_features.py) in spec loader then add "use_data" or "is_empty" property in the "Feature" class that combines the various attributes. At this point rewrting the feature expansion to use "is_empty" should be trivial, then hopefully the merge_histograms works again!

[2016-02-19 00:15] MichaelCurrie opened #175 "Unnecessary lines in INSTALL?"
I am wondering what the purpose of these lines are, and whether we need them.  They are also in our Travis-CI YML file.

[code]

[2016-02-20 02:46] JimHokanson commented on #164
New code has been merged back into master.

Some thoughts on going forward:
1) The new code needs documentation.
2) Might populate WormFeatures with NormalizedWorm values as non-user-requested features and then make requests for these features like we do other dependencies.
3) Need to build in support for missing dependencies. This code has been started but needs some work. It would be good to kno

[2016-02-20 02:46] #164 closed

[2016-02-20 04:08] MichaelCurrie opened #177 "New directions with refactored code"
[Copied from @JimHokanson 's comments, so this remains an open issue.]

Some thoughts on going forward:
1) The new code needs documentation.
2) Might populate WormFeatures with NormalizedWorm values as non-user-requested features and then make requests for these features like we do other dependencies.
3) Need to build in support for missing dependencies. This code has been started but needs some w

[2016-02-20 11:54] cheelee commented on #177
I'm in the process of trying to get all the dependencies together on my Mac OS X machine (which is slightly different from the Linux instructions given) under virtualenvwrapper (with the exception of opencv.) Maybe I can take a shot at getting automatic python dependency set up? I can also try other scripting approaches (Makefile or CMAKE) to pull in other non-python dependencies.

[2016-03-03 01:11] MichaelCurrie commented on #177
Hi @cheelee, sounds good.  One idea is to first see if you can get it to build on Mac OS and then maybe add Mac instructions to the INSTALL.md.  That would be a great start.

[2016-03-03 02:52] cheelee commented on #177
Will do. I'll take the opportunity to ask questions about the workflow and use-cases for the code base outside of the tests and examples as I try this. Thanks!

[2016-03-04 12:04] cheelee commented on #177
Ok, I've got all the steps in INSTALL.md adapted to OS X and I'm just waiting on some clarification on the sudo steps used for configuring opencv before I try out the .mat examples I've downloaded via the INSTALL.md instructions. I have a more-or-less complete INSTALL-OSX.md file documenting the process that I can check in once I successfully test the examples. After that happens, I'll look into a

[2016-03-04 23:13] MichaelCurrie commented on #177
Best practice is to do work in a throwaway branch, then create a pull request.  Try to merge back to or pull from master often to avoid extra work merging later, if you're working on a part that others are also working on.  In other words, sounds like you're already doing the right thing!

[2016-03-31 14:40] cheelee opened #179 "Missing test file?"
In examples/WCON Demo.py, the referenced test file "testfile4.wcon" appears to not have been checked into the repository.

[2016-04-02 12:01] ver228 opened #180 "What about a setup.py?"
Hello guys, I propose to add a simple setup.py file like:
[code]

As far as I understand if one execute `python setup.py develop `  the links will be local. In this way the module will be easier to import without having to worry about relative paths.

[2016-04-08 04:36] MichaelCurrie commented on #180
I believe you are referring to one of the steps involved in getting the package registered with PyPI.  This is already an outstanding issue, #139.  If I am mistaken please feel free to reopen this issue.

I fully agree with you that finishing #139 would be nice.  In a sense it's trivial, but I've been waiting for the package to be "complete" in some sense for doing this.  Perhaps we should at leas

[2016-04-08 04:36] #180 closed

[2016-04-08 10:55] ver228 commented on #139
I send a pull request for the setup.py file. I didn't include the version number since I couldn't find it.
I didn't upload it to pip since probably it would be better if Jim or Micheal control the PyPI account.

[2016-04-08 14:16] ver228 opened #182 "Visible deprecation messanges and duplicated functions"
I start to received a lot of of VisibleDeprecationWarnings. In an effort to corrected I start to modify the locomotion_bends file and find that the functions h__getBendData and h__getBandwidth, are duplicated in LocomotionCrawlingBends and in CrawlingBend.

This not only increases the size of the code but gives the possibility of slowly degenerating the functions until they are not longer the same

[2016-04-09 06:50] MichaelCurrie commented on #182
@ver228 sounds great, feel free to do a PR and we can check it out.

[2016-04-15 08:16] MichaelCurrie commented on #139
@ver228 no problem, I will work on this.

[2016-04-15 10:08] MichaelCurrie commented on #139
This is done now:

https://pypi.python.org/pypi/open_worm_analysis_toolbox

I haven't tested it much yet.  Looking forward to hearing your feedback on this, everyone.  This is an exciting moment for the project: after nearly 3 years of work, this is our first official release.  I numbered it 3.0.0 to put us past both the 1.3.4 numbering of the Schafer Lab analysis toolbox and the original WT 2.0 t

[2016-04-15 10:08] #139 closed

[2016-04-15 10:14] MichaelCurrie commented on #179
Thanks @cheelee - `WCON Demo.py` is a work in progress.  I will work on that.

[2016-04-15 11:53] cheelee commented on #179
That's ok, it would work just by plopping in any WCON file and renaming it accordingly!

[2016-04-16 09:54] MichaelCurrie opened #185 "Error calculating skeleton from contour"
Line 52 of `WCON demo.py`:

[code]

... uses the dorsal contour in place of the skeleton, because of an error in calculating the skeleton from the contour:

[code]

[2016-04-18 10:57] MichaelCurrie opened #187 "OpenCV Travis build failing since ~8 April 2016"
Sometime in the past month something changed externally that now causes the Travis-CI builds of OpenCV to fail at the `cmake` step.

As you can see in the build history, the builds stopped working after  6c10cef, but that commit didn't change anything of substance that should matter:

https://travis-ci.org/openworm/open-worm-analysis-toolbox/builds

![dfdsfads](https://cloud.githubusercontent.com/

[2016-04-19 14:55] JimHokanson commented on #187
Looking at the job the error is from:

CMake Error at CMakeLists.txt:608 (find_package):
  find_package called with invalid argument "CONFIG"

This was updated 28 days ago:
https://github.com/Itseez/opencv/commit/727743809e755b9629301b5145de7909c72f68c0

Old cmake doesn't have a CONFIG option. Presumably we could update cmake ...

http://stackoverflow.com/questions/33196136/travis-ci-update-cmake-

[2016-05-04 03:37] cheelee commented on #187
I'll independently give the CMAKE issue a shot, been a while since I've dug there but I probably need the exercise.

[2016-05-23 20:03] MichaelCurrie opened #189 "Incorporate SegWorm updates into OWAT"
@Eviatar has been working on the original Segworm Matlab codebase over the past 3 years while we've been working on a port of his code.  This means the functionality of the two repositories is out of sync.

We should inventory the improvements to Segworm that could be incorporated into OWAT here, and then discuss what could be ported.

[2016-05-23 21:22] Eviatar commented on #189
I believe that the common API has been preserved (I strived to ensure this) but we can check through compilation. The bigger issue is as follows. Will Andre's work make the WT2 suite obsolete? I'd like to discuss this. If not, together we can make some quick, sensible updates to the analysis toolbox & publish the new work in its entirety. Perhaps Andre is onboard with this but it might cut into hi

[2016-05-24 00:02] MichaelCurrie commented on #189
Makes sense.  Flagging @aexbrown for comment.

[2016-05-30 19:52] MichaelCurrie opened #190 "Replicate Brown Lab's existing database on AWS"
As a first step to getting the worm behaviour data accessible online, the existing Brown Lab database should be replicated on AWS.

Steps to complete this issue:

1. Spin up an Ubuntu instance on OpenWorm's AWS account
2. Replicate MRC worm behaviour database schema.

[2016-05-30 19:56] MichaelCurrie opened #191 "Populate AWS database with information currently in flat files"
Currently the [MRC worm behaviour database](http://wormbehavior.mrc-lmb.cam.ac.uk/) has a feature vectors stored in a flat files, one per file.  These feature vectors should be populated into the tables in the AWS database created by #190.

With this information in a relational database, we can run queries like filtering for certain strains or features, or selecting columns like metadata columns o

[2016-05-30 20:24] MichaelCurrie opened #192 "Upload files to Zenodo tagged with DOI"
Currently the files are stored locally at the Brown lab, on a Linux server (@ver228 please confirm).

I won't have access privileges but nevertheless I should be able to come up with an upload script.

An open question I'll answer is whether each file gets a [Digital Object Identifier (DOI)](https://en.wikipedia.org/wiki/Digital_object_identifier), or if the upload as whole gets a DOI and the indi

[2016-05-30 20:33] MichaelCurrie opened #193 "Make AWS database queries accessible via web interface"
At first we'll just want a search bar that allows you to query the feature vector when you supply the strain name or gene name.

At first the address would just be an IPv4 address, but after [https://github.com/openworm/org.openworm.website/issues/68](I find out how to route DNS entries for openworm.org), we could have the interface operate from movement.openworm.org, for instance.

[2016-05-30 20:35] MichaelCurrie opened #194 "Expand worm database to include multiworm capability"
The database schema created by #190 could eventually be expanded to handle multiple worms.  I developed a schema for this already, but much of it might be superseded by the re-factoring of OWAT internals in 2015, and also by the metadata conventions in WCON.

[2016-06-01 21:36] aexbrown commented on #189
Avelino's python version of SegWorm works with data produced by WormTracker 2.0 (including stage motion log files, etc.) and so it should supersede the previous toolbox.  But as we discussed, the features2figures work would still be interesting to include.  Once the format is finalised, I'll send @Eviatar some feature files produced by the new pipeline so that he can update that code to work with

[2016-06-02 09:40] ver228 commented on #192
I do not understand why the operative system of the storage server is important. We can access the data from the local network either using a local computer or using VPN. In the lab we have Mac and Windows machines. I am sure I can get Linux if it is required, but OSX should be able to handle most of Linux tools.

[2016-06-23 03:48] MichaelCurrie commented on #192
The operating system matters because I am interested in writing a script to upload the files, so I need to know if I should be writing a script in Bash (Linux or Mac potentially), or Powershell (Windows).  Thanks!

[2016-06-23 10:11] ver228 commented on #192
Ok, now it makes sense. We can access to the data using either a Windows or a Mac machine. I would probably prefer a bash script.
Maybe you could take a look to port of the Zenodo's API (http://zenodio.lsst.io/en/latest/). It seems to be functional.

[2016-06-29 22:38] ver228 commented on #191
Hey Michael, I forgot to mention yesterday that it might be a good idea to use sqlalchemy for this task. I have been using it lately and I am quite happy with it. If we will use python to access to the data it will be cleaner to have everything in the same language.

[2016-07-01 15:26] MichaelCurrie commented on #191
OK sounds good.  @ver228 is it okay if I also use pandas for representing the intermediate data structures in memory?

@aexbrown I was hoping to have this done by 30 June but unfortunately I will need another week.  I have revised the milestone target.

[2016-07-15 16:42] MichaelCurrie commented on #190
I ran the following code on the ubuntu instance:

[code]

[2016-07-16 20:44] MichaelCurrie commented on #190
Success.  I've got the database:

[code]

[2016-07-31 13:32] #190 closed

[2016-07-31 14:58] MichaelCurrie commented on #192
OK I have been playing with Zenodo's API:

[code]

I also found this great guide on how to use Zenodo to assign a DOI to a GitHub repository:

https://guides.github.com/activities/citable-code/

As a test I manually uploaded an old preprint of mine so it would get assigned a DOI, which seems to have worked.

https://zenodo.org/record/59168#.V54Rybh971t

I will keep you updated, working on this now

[2016-08-01 07:36] MichaelCurrie commented on #192
The Zenodo API is REST-based: https://zenodo.org/dev

A programmer with the Large Synoptic Survey Telescope, [Jonathan Sick](https://github.com/jonathansick), created a 300-line wrapper for harvesting metadata from existing Zenodo communities (http://zenodio.lsst.io/en/latest/).  However, I have confirmed with Jonathan that [no upload function exists or is currently in development.](https://github

[2016-08-01 11:06] MichaelCurrie commented on #192
I have created a community for uploading worm files:

https://zenodo.org/collection/user-tracker-commons

I also created one in the parallel sandbox site for testing purposes:

https://sandbox.zenodo.org/collection/user-tracker-commons

[2016-08-04 07:15] MichaelCurrie commented on #193
I am now implementing the interface to the database using Django, skinned with "Django Suit", a theme.

[Here is a demo with dummy data.](http://djangosuit.com/admin/)

[2016-08-04 07:52] MichaelCurrie commented on #192
I made a [pull request](https://github.com/lsst-sqre/zenodio/pull/5) to the `zenodio` package to address the missing upload function.

[2016-08-05 06:19] MichaelCurrie commented on #193
For Django to be the interface, we need the database to be in utf-8.  Sadly, it's currently in `latin-1`:

[code]

[This blog entry](https://blogs.harvard.edu/djcp/2010/01/convert-mysql-database-from-latin1-to-utf8-the-right-way/) from Dan Collis-Puro suggests a way to convert the database is the following command:

`mysqldump --add-drop-table mrc_db | replace CHARSET=latin1 CHARSET=utf8 | iconv -

[2016-08-05 07:28] MichaelCurrie commented on #193
So it worked; the following was the complete set of commands used:

[code]

[2016-08-05 07:36] MichaelCurrie commented on #193
It seems there is still more to do:

[code]

[2016-08-05 07:59] MichaelCurrie commented on #193
Actually it looks like a `sudo reboot` took care of it:

[code]

[2016-08-05 13:15] ver228 opened #197 "trackercommons/JSON/MongoDB"
I would like to at output features of my [analysis](https://github.com/ver228/Multiworm_Tracking) into a format that is compatible with the  [tracker-commons](https://github.com/openworm/tracker-commons). Right now, I am collecting several WormFeatures objects and saving them into an hdf5 file format in a way that is convenient to load for me. Obviously I would like to make my format compatible wi

[2016-08-06 08:47] MichaelCurrie commented on #158
This issue is now moot as we're using Django for administering the database, and not using those platforms.  (for the moment).  Both Galaxy and Synapse appear to be something that we could look into in the future though.  Thanks!

[2016-08-06 08:47] #158 closed

[2016-08-06 08:49] MichaelCurrie commented on #8
I'm going to call this moot at this point, as we now have tools to load these MAT files into objects and save them in other formats.

[2016-08-06 08:49] #8 closed

[2016-08-06 09:01] MichaelCurrie commented on #169
Rather than using inheritance, [I wrote a function that loads a Schafer .MAT file and creates a WCONWorms object](https://github.com/openworm/open-worm-analysis-toolbox/blob/master/examples/WCON%20demo.py).  This currently only works for BasicWorm, and only loads the skeleton, not the contour information.

A next step would be to create a similar function, but to allow a WormFeatures object to be

[2016-08-06 09:01] #169 closed

[2016-08-06 09:09] MichaelCurrie commented on #197
**WormFeatures objects -> .WCON format**

We already have [a function that goes from .WCON format -> BasicWorm object](https://github.com/openworm/open-worm-analysis-toolbox/blob/master/examples/WCON%20demo.py).

We have nothing that saves a WormFeatures object -> custom .WCON format.

We [do have a loader that goes from](https://github.com/openworm/open-worm-analysis-toolbox/blob/master/open_worm

[2016-08-06 09:11] MichaelCurrie opened #198 "Store WCON files in a MongoDB database?"
From @ver228 (I'm making this into a separate issue for clarity):

[2016-08-06 09:11] MichaelCurrie commented on #198
From what I understand MongoDB is a leading NoSQL database, written in C++, and has Python bindings.

Advantages:
- [From what I am reading](https://stackoverflow.com/questions/9373889/is-mongodb-a-good-choice-for-storing-json-structures) it is great for storing data from JSON files that are changing often and deeply nested, since you don't need to worry about creating a database schema and mainta

[2016-08-07 13:34] MichaelCurrie commented on #190
Using [the GUI](<script src="https://gist.github.com/MichaelCurrie/925987009f9cec0d4868705f886ef760.js"></script>) and MySQL Workbench, I [reverse engineered the MRC DB](https://dev.mysql.com/doc/workbench/en/wb-reverse-engineer-live.html) to obtain the following database model.

![model](https://cloud.githubusercontent.com/assets/5267078/17462654/4f7fc11a-5cde-11e6-9583-124635f49b35.png)

[2016-08-07 13:36] MichaelCurrie commented on #193
I was able to set up a Django server on the EC2 instance.  Now I'm trying to get its admin interface to point to the "legacy" MRC database model I reverse-engineered in #190.

[2016-08-07 17:21] MichaelCurrie commented on #193
OK that is now done:

[code]

I have assigned usernames to access the site to @aexbrown and @ver228.  Next step is making the interface a bit more user-friendly (via `__str__` methods for each of the model objects), since right now the objects don't have informative names.

[2016-08-07 18:07] MichaelCurrie commented on #193
I made it a bit more user friendly via:

- Fix the use of the word "polls" and (https://stackoverflow.com/questions/8408046/how-to-change-the-name-of-a-django-app)
- Fix how there is a superfluous "s" at the end of each table e.g. "Alleless"  (via https://stackoverflow.com/questions/32047686/)
- Add a __str__ representation for each of the tables

[2016-08-07 18:07] #193 closed

[2016-08-08 16:18] ver228 commented on #198
Well, I think we could use both. We could save a mongoDB ID in the SQL data. The other option is to store the features as WCON text files and store the paths in the database. The advantage of the former is that MongoDB allows queries, data is store in as [BSON](http://bsonspec.org/) that is smaller in size , and allows in-build compression. The distanvantage is that all the data is stored in a sin

[2016-08-08 16:18] #198 closed

[2016-08-10 06:18] MichaelCurrie commented on #198
Using both sounds good to me, because one way or the other we will have to have a document store, whether it is MongoDB or the file system, so it might as well be MongoDB.

[2016-08-12 16:50] MichaelCurrie commented on #198
At the meeting today @Ichoran pointed out that a file store may have the advantage of less complexity and if we are not planning to do any analysis on the JSON files within MongoDB, placing them in such a repository might be more complex with no obvious gain to offset, in our use case.

In any case we can decide after the JSON conversions.  I just wanted to note this somewhere.

[2016-09-21 22:34] tacaswell commented on #151
The first issue should be fixed in mpl 2.0 as the OSX backend is now Agg based.  You can test with with the beta release

[2016-09-27 23:14] MichaelCurrie commented on #192
I'll include this here in case it's relevant: Q&A with André Brown from 19 February 2016 with Chris Linzy:

**What is the directory structure for the videos as they currently exist on the drive?**

The directory structure is quite chaotic since the data were originally recorded onto 8 machines by several different people.  Basically, there are directories for each machine, but some are called thin

[2016-09-28 00:08] MichaelCurrie commented on #104
We have another server now doing what Joe Bowen's machine did.  So we can close this issue now.

[2016-09-28 00:08] #104 closed

[2016-09-28 00:09] MichaelCurrie commented on #113
Here's a cool web-based visualization that could be applied to worm strains, using d3:

http://www.nytimes.com/interactive/2013/09/25/sports/americas-cup-course.html?_r=0

[2016-09-28 00:11] MichaelCurrie opened #200 "Interactive query web interface for MRC DB"
Currently the MRC DB can be viewed from movement.openworm.org, but you can just browse the tables.
1. We'd like to be able to search through strains, get back a link and Zenodo DOI.
2. We'd like to be able to slice the data using interactive sliders.  D3 and Square's Crossfliter project seem to offer that capability:

https://square.github.io/crossfilter/

http://thematicmapping.org/playground/d3/

[2016-09-30 03:35] MichaelCurrie commented on #191
After further discussion with André the next step to accomplish this issue is for me to modify https://github.com/openworm/open-worm-analysis-toolbox/blob/master/examples/WCON%20demo.py so that it saves both the skeleton and both sides of the contour, not just one.

Then @ver228 can iterate over the files on his local machine and generate WCON files.  @ver228 you'll have to map the folder structur

[2016-09-30 03:37] MichaelCurrie commented on #192
Once #191 is complete, we'll be able to upload to Zenodo.  Each entry to Zenodo will be made to our community, with:

DOI #x
Video. AVI
Skeleton WCON
Feature HDF5?

We can test on the sandbox at first.

[2016-09-30 03:39] MichaelCurrie commented on #194
After further discussion with @aexbrown we just need to extend the MRC DB metadata schema to handle multiple worms.  My original work on this in January 2015 intended to handle skeleton and feature data, which is too complicated for the initial database schema.

[2016-09-30 03:43] MichaelCurrie opened #201 "Create an aggregate DOI for the whole MRC Schafer corpus?"
We already agreed in #192 not to upload all worm videos from the Schafer corpus as a single DOI.  But it would be nice to refer to the group of videos with a DOI, for instance, in publications.  We can use the publication reference DOI ([doi:  10.1038/nmeth.2560](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3962822/)), but perhaps the data deserves its own, and in the future we may want to upload

[2016-09-30 04:29] MichaelCurrie commented on #191
Here is an example file name to be iterated over:

[`unc-63 (ok1075) on food L_2010_04_09__11_44_51___4___5_features.mat`](https://drive.google.com/open?id=0B9dU7zPD0s_LemZ5dlR5d3kyaGkyR2hQZnRTTk96ZHc2RUNN)

Here's the information I can parse from this:

- `unc-63` (strain)
- `ok1075` (?)
- `on food` (on food / not on food)
- `L` (clockwise orientation?)
- '2010_04_09__11_44_51` (recorded 2010-04-

[2016-09-30 04:57] MichaelCurrie commented on #179
I believe this issue no longer exists.

[2016-09-30 04:57] #179 closed

[2016-09-30 04:59] MichaelCurrie commented on #110
We are doing a multiworm schema, but a simpler one than was attempted here.  It's captured in existing open issue https://github.com/openworm/open-worm-analysis-toolbox/issues/194

[2016-09-30 04:59] #110 closed

[2016-09-30 05:00] MichaelCurrie commented on #80
This hasn't caused any issues and so I think we'll leave this as a wontfix.

[2016-09-30 05:00] #80 closed

[2016-09-30 05:01] MichaelCurrie commented on #112
For now all we want to do is display a worm strain on command.  This is likely too ambitious for now.

[2016-09-30 05:01] #112 closed

[2016-09-30 05:02] MichaelCurrie commented on #182
Hey @ver228 can you please submit the PR or close this issue?  Thanks very much!

[2016-09-30 05:04] MichaelCurrie opened #202 "Have `WCON demo.py` parse both sides of the worm's contour"
https://github.com/openworm/open-worm-analysis-toolbox/blob/master/examples/WCON%20demo.py

[2016-09-30 13:50] ver228 commented on #191
Hey @MichaelCurrie, the database should have all the information I extracted the information in the file name and in the folder. I would be using the database to populate the fields in the WCON files.

[2016-09-30 13:57] ver228 commented on #192
Hey @MichaelCurrie we are not planning to upload the .AVI video.  It would be two .HDFF files ( video + skeletons) that are requiered for my viewer. We can upload a subsampled avi version as preview.

DOI #x
Video HDF5
Skeleton HDF5
Feature HDF5
Skeleton WCON
Video_Preview AVI

I could include the Video HDF5 and the Skeleton HDF5  in the same file, but we agree before with @aexbrown  that having t

[2016-09-30 19:53] MichaelCurrie commented on #194
@ver228 on 7 July 2016 you mentioned:

However,

1) I need permission to access the link - perhaps you could add a new link?
2) I cannot find `process_single_file.py` in your repo

Actually I don't think this is necessary for me to do a schema for the multiworm tracker since I only care about metadata.  But if you think it is, I would appreciate if you could do 1 and 2 above.  Thanks

[2016-10-05 13:26] ver228 commented on #194
Sorry for the late answer.

Yes, I did changed the path for the examples. Google drive was giving me
problems. It did cancel the account a couple of times.

Now I am using the following link:

EXAMPLES_LINK="
https://imperiallondon-my.sharepoint.com/personal/ajaver_ic_ac_uk/_layouts/15/guestaccess.aspx?guestaccesstoken=ldZ18fLY%2bzlu7XuO9mbKVdyiKoH4naiesqiLXWU4vGQ%3d&docid=0cec4e52f4ccf4d5b8bb3a73

[2017-04-11 15:28] MichaelCurrie opened #203 "Convert SIBERNETIC text file to WCON format"
As discussed at a colloboration meeting last night, the output from SIBERNETIC is a text file with midline point positions.  We need a routine to convert this to WCON.

See https://github.com/openworm/OpenWorm/issues/247

[2017-04-11 15:31] MichaelCurrie commented on #203
@pgleeson handled this with https://github.com/openworm/tracker-commons/pull/149.

[2017-04-11 15:31] #203 closed

[2017-04-13 11:14] MichaelCurrie commented on #202
This issue is somewhat moot now that WCON has a native contour format.

[2017-04-13 11:17] MichaelCurrie opened #204 "Upload small sample to sandbox.zenodo.org"
The manifest will be:
- original video .HDF5  -> a bunch of images compressed with GZIP
- video file     .AVI
- _skeleton      .HDF5
- features file  .HDF5
- WCON           .JSON
- subsampled video file  .AVI  (optional)

@ver228 and @aexbrown can you please give me a link to a few examples of experiments with this manifest, and I will try uploading?  Thanks.

[2017-04-13 11:23] MichaelCurrie commented on #191
It looks like @ver228 already did this, iterated over the files, and the database @cheelee is using contains the metadata from the files.  Fantastic.  I will close this issue.

[2017-04-13 11:23] #191 closed

[2017-04-13 11:42] MichaelCurrie commented on #200
@cheelee is this the sort of selector widget you were looking for?

https://jqueryui.com/selectable/

[2017-04-13 13:38] cheelee commented on #200
@MichaelCurrie Not exactly, but that can be a good starting point.

[2017-04-19 10:47] ver228 commented on #204
Here is the [link](https://imperiallondon-my.sharepoint.com/personal/ajaver_ic_ac_uk/_layouts/15/guestaccess.aspx?folderid=01a1f6c45da4543c99a3efa48afcb303d&authkey=AeVd-3eiHkS30NGfqzYAxOQ) in case you miss it.

[2017-06-04 15:49] akihirom2017 opened #205 "example_contour_and_skeleton_info.mat"
Hello,

I am trying to use this analysis toolbox.
I have followed by the instruction as described in README.md.
Then I found that the the file example_contour_and_skeleton_info.mat is missing to run this script.
I would appreciate if you can provide the matlab file to run the script.

Thank you very much for your help.
Sincerely

[2017-06-05 07:06] MichaelCurrie commented on #205
Hello @akihirom2017!  Thank you for your interest!  May I ask what lab you are from?

We are in the ending stages of a big release to be announced at the C. elegans meeting at UCLA June 25th.  Will you be there?

The example file you can use is in this public Google Drive folder: https://drive.google.com/drive/folders/0B7to9gBdZEyGNWtWUElWVzVxc0E?usp=sharing

[2017-06-05 07:08] MichaelCurrie commented on #205
Please reopen this issue if it did not answer your question.

[2017-06-05 08:07] akihirom2017 commented on #205
Thank you very much for quick response, Michael.

Actually, I am in Bill Schafer lab. When I talked to a couple of people
including Ev, Tadas, and Andre, they mentioned and recommended to start
using this openWorm program. Since I am in Bill's lab, I thought I could
use the original matlab file we have. But it did not work directly, that's
why I was asking about the example file.

I downloaded the

[2017-06-05 10:17] akihirom2017 commented on #205
Sorry, one more question regarding to run the open-worm-analysis-toolbox.

I have downloaded the .mat example data set and followed the direction in
README.md.

I think I successfully conduct to generate bw by "bw =
mv.BasicWorm.from_schafer_file_factory("example_contour_and_skeleton_info.mat")
"

However, in the next command (nw =
mv.NormalizedWorm.from_BasicWorm_factory(bw)

), it gave me error

[2017-06-05 12:53] ver228 commented on #205
Hello Aki,

Maybe you can try the code below. It uses a file generated by our lab that you can get [here](https://imperiallondon-my.sharepoint.com/personal/ajaver_ic_ac_uk/_layouts/15/guestaccess.aspx?docid=0fcd1cd4566c4484b92eb2b1849056b45&authkey=AYfYwtDFR2BzJx-hQ-xIRTw). However you can use any set of skeletons/contours as long as they are list of (2, number_of_points) numpy arrays. I used some

[2017-06-05 20:20] akihirom2017 commented on #205
Thanks for your help.

I tested two things, but I still had error messages. I would appreciate if
you can help me.

# 1.
I just copied and paste the script you have sent in previous e-mail.
I named the file "test.py" and it located in the prefeature directory under
open_worm_analysis_toolbox (e.g. open-worm-analysis-toolbox/
open_worm_analysis_toolbox/prefeatures).

when I run the script, here is

[2017-06-06 08:27] ver228 commented on #205
Hello Aki,

Those are not errors. They are warnings informing you that those features are not calculated. This is because in OPTION 1 it is only using the skeletons, so it does not have information about the area and width, and several features depend on it. If you use the OPTION 2 this warnings show not appear. It might be good to suppress those warnings in the future, and either force the user t

[2017-06-06 08:39] akihirom2017 commented on #205
Thank you for your help.

I will follow your direction. Thanks

Sorry, I was using a regular e-mail instead of github message board. But I
will follow your suggestion regarding to comment and code.
Sorry about that. I am still new to use github....

Best regards

Aki

On Tue, Jun 6, 2017 at 9:27 AM, ver228 <notifications@github.com> wrote:

[2017-06-08 14:37] akihirom2017 commented on #205
Hello,

It is progressing, but I still have problem.
and I overlooked the question in your previous e-mail, so here is the
answer.

L_2011_06_20__10_56_54___2___1 _features.hdf5?
I have just downloaded the file from the "here" in "It uses a file
generated by our lab that you can get here
<https://imperiallondon-my.sharepoint.com/personal/ajaver_ic_ac_uk/_layouts/15/guestaccess.aspx?docid=0fcd1cd45

[2017-06-08 14:58] akihirom2017 commented on #205
Sorry, my explanation was short.

the result in previous e-mail was run by `experiment_histograms =
mv.HistogramManager(wf)` (I assumed this is the control_experimental case)

If I run `"experiment_histograms = mv.HistogramManager([wf, wf])"` (I
assume this is the experimental/mutant case), then the error message was
`Traceback (most recent call last):
  File "test.py", line 217, in <module>
    e

[2017-06-09 09:07] ver228 commented on #205
I have never use that part I think @MichaelCurrie or @JimHokanson might have some feedback there. It is likely it got broken at some point during the refactoring.

[2017-06-11 21:25] akihirom2017 commented on #205
Hello,

I think the Linux had a problem to install the open_worm_analysis_toolbox,
so I started from scratch.
I installed Ubuntu 16.04 on Windows through VMWare.

I mostly follow the INSTALL.md lines, but found some correction which I
need to put some comment to avoid some issues (these issues may happen only
on my environmental condition)
Please find them in "I followed this line." file
I think I

[2017-06-12 03:27] JimHokanson commented on #205
It appears as though 1) we named our package with hyphens instead of underscores :/ and 2) auto code cleanup translated the package name into separate names with subtraction signs

The correct code should presumably be:
from open-worm-analysis-toolbox import user_config

[2017-06-12 09:45] akihirom2017 commented on #205
Thanks, Jim

When I run `test_setup.py` script with the line, I have still got error
message.
aki@ubuntu:~/github/open-worm-analysis-toolbox/tools$ python test_setup.py
  File "test_setup.py", line 121
    from open-worm-analysis-toolbox import user_config
             ^
SyntaxError: invalid syntax

Am I missing some key step to avoid this issue?
Just in case, I am currently use python 3 (3.5.3) o

[2017-06-12 10:04] akihirom2017 commented on #205
I have tested few things additionally, hopefully this help to figure out
the issue.

#1
After installation of open-worm-analysis-toolbox,I run following command
lines:
`python3 setup.py build`
`python3 setup.py install --user`
`python3 setup.py develop`

All results seem to be fine (I did not get any error message).

Then I tried `python3 setup.py test`
Then, it gave me:
 ['build', 'setup.py', '.g

[2017-06-12 13:07] JimHokanson commented on #205
I just looked at it a bit more closely. The package is actually named with underscores:
from open_worm_analysis_toolbox import user_config

The other errors I see are:
1. The examples directory is not on your path. Apparently this was made a package as well.
2. OpenCV is not properly installed, thus the cv2 error.

[2017-06-12 18:54] akihirom2017 commented on #205
Thanks for your help, Jim

Thanks. I fixed it. and there is not more error on the section.

Yes, I have installed cv2 (3.2.0) and work. the section do not give me more
error message

package as well.
This is bit confusing me.
the location of example_data is
`aki@ubuntu:~/example_data$ pwd
/home/aki/example_data
`
So, I think the EXAMPLE_DATA_PATH
in open_worm_analysis_toolbox/user_config.py should

[2017-06-13 22:59] MichaelCurrie opened #206 "Foraging Amplitude Units"
From @ver228

[2017-06-13 23:03] MichaelCurrie commented on #206
@ver228 from everything you say it certainly makes sense that it should be degrees.  I wonder if we should clarify from @Eviatar.

[2017-06-13 23:27] Eviatar commented on #206
Yep, my mistake. We discovered this a few days ago. I've been working with Andre & Avelino to help move the code forward. There are a few things on the list & the goal is to take care of them just after the UCLA worm meeting this coming week.

[2017-06-13 23:39] MichaelCurrie commented on #206
OK thanks, see you there btw!  WCON's poster session is Thursday 22 June from 21 to 22:30.

[2017-06-13 23:55] Eviatar commented on #206
Awesome, looking forward to it!

[2017-06-14 06:19] MichaelCurrie commented on #204
Back in April I did this for a single DOI entry.  https://sandbox.zenodo.org/record/71862#.WUDTjGg1-Cg

![image](https://user-images.githubusercontent.com/5267078/27117919-b57b4c02-508d-11e7-8637-7d8148c74c95.png)

I will close this issue and work on the bulk process over at movement_cloud: https://github.com/openworm/movement_cloud/issues/92

[2017-06-14 06:19] #204 closed

[2017-06-14 06:20] MichaelCurrie commented on #192
Closing this as it's now a duplicate of https://github.com/openworm/movement_cloud/issues/92

[2017-06-14 06:20] #192 closed

[2017-06-14 06:22] MichaelCurrie commented on #200
Our work at https://github.com/openworm/movement_cloud has progressed to the point where we can declare this task complete, or at least enough to close this stub issue.

[2017-06-14 06:22] #200 closed

[2017-06-14 06:23] MichaelCurrie commented on #201
Reply from Zenodo engineers:

(My question)

[2017-06-14 06:23] #201 closed

[2017-06-14 06:24] MichaelCurrie commented on #113
For now I will close this since we have no plans to implement this right now.

[2017-06-14 06:24] #113 closed

[2017-06-14 06:25] MichaelCurrie commented on #91
We can show plots in movement_cloud now using the WCON viewer, so I will mark this closed.

[2017-06-14 06:25] #91 closed

[2017-06-14 06:27] MichaelCurrie commented on #194
Closing this issue here, now that it's over at movement_cloud

[2017-06-14 06:27] #194 closed

[2017-06-14 06:28] MichaelCurrie commented on #151
I will mark this as wontfix since we will use WCON viewer and d3.js in movement_cloud to visualize worms now.

[2017-06-14 06:28] #151 closed

[2017-06-14 06:30] MichaelCurrie commented on #154
Since 2015, people including the Schafer Lab have started using this repo so such a document is not necessary to convince people to use this over the original MatLab code.  Furthermore, the reasons given above already suffice.

[2017-06-14 06:30] #154 closed

[2017-06-14 06:32] MichaelCurrie commented on #133
@JimHokanson is it safe to close this issue or are the "Big Issues left to handle" still holding this up?  I think the fact that the features are calculated in this new way should not change downstream processing much, am I right?

Thanks

[2017-06-14 06:34] MichaelCurrie commented on #167
Given our work with movement_cloud to visualize things I think it's safe to say this is not the direction we will be proceeding in at this point.  I will close but it's interesting to note this in case we need to generate reports for a later paper.

[2017-06-14 06:34] #167 closed

[2017-06-14 06:35] MichaelCurrie commented on #117
At this point we have no plans to add additional features so I will mark this as WONTFIX but perhaps that will be revisited by @aexbrown later.

[2017-06-14 06:35] #117 closed

[2017-06-14 06:36] MichaelCurrie commented on #141
I think I forgot to close this after Jim explained the reason for these differences.  Closing now.

[2017-06-14 06:36] #141 closed

[2017-06-14 06:36] MichaelCurrie commented on #81
Jim's FeatureTimer should handle this one, so I'll close it.

[2017-06-14 06:36] #81 closed

[2017-06-14 06:38] MichaelCurrie commented on #18
This is one of many things we could do, but for now it's not a priority.  It might make sense to add this to movement_cloud as a visualization attached to the crossfilter.  For now, let's mark this WONTFIX.

[2017-06-14 06:38] #18 closed

[2017-06-14 06:39] MichaelCurrie commented on #30
I know you said there's one more issue to identify here but there has been further significant work by Avelino to validate the features calculation against the original Yemini code, and so I think any further effort to compare to your intermediate SegWormMatlabClasses repo is moot.  So I'll close this.

[2017-06-14 06:39] #30 closed

[2017-06-14 06:42] MichaelCurrie commented on #102
It looks like a long time ago this was fixed, because the path is no longer hardcoded:

[code]

[2017-06-14 06:42] #102 closed

[2017-06-14 06:44] MichaelCurrie commented on #144
I suspect that this issue can be closed.  @JimHokanson please re-open if not.

[2017-06-14 06:44] #144 closed

[2017-06-14 06:46] MichaelCurrie commented on #187
Whoever fixes this should probably fix https://github.com/openworm/open-worm-analysis-toolbox/issues/175 at the same time.

[2017-06-14 06:49] MichaelCurrie commented on #119
This schema is similar to WCON in that it is an attempt to standardize the way worm tracker information is stored.  If we were to implement this for features it would not be using the XML format they are using, it would be via those "@"-prefixed extensions permitted by the WCON specification.  So I'll mark this as WONTFIX.

[2017-06-14 06:49] #119 closed

[2017-06-14 06:51] MichaelCurrie commented on #155
At the time I wrote this issue I don't think I really understood the way our cloud architecture would work.  Actually, we can simply install the OWAT tool on our AWS machine and have it generate feature information as our cloud application needs.  There is no need for an "abstraction layer".

[2017-06-14 06:51] #155 closed

[2017-06-14 07:15] MichaelCurrie commented on #205
Hi @akihirom2017 are you sure you have created a file called `user_config.py`?  That error seems to say that you do not have such a file in your `open-worm-analysis-toolbox/open_worm_analysis_toolbox` folder.

From the [installation instructions](https://github.com/openworm/open-worm-analysis-toolbox/blob/master/INSTALL.md):

[2017-06-14 07:33] akihirom2017 commented on #205
Thank you.

Yes, I think so.

The file location is:
`aki@ubuntu:~/Documents/Programs/
open-worm-analysis-toolbox/open_worm_analysis_toolbox$ ls
config.py    prefeatures  travis_config.txt  utils.py
features     __pycache__  user_config.py     version.py
__init__.py  statistics   user_config.py~
`

and the inside of user_config.py is:
`aki@ubuntu:~/Documents/Programs/open-worm-analysis-toolbox/open

[2017-06-14 07:44] MichaelCurrie commented on #205
Well @akihirom2017 it sure looks like you have it just the way it is supposed to.  It must be something else.  Tomorrow I will try to replicate your issue.  Thanks again

[2017-06-14 08:21] akihirom2017 commented on #205
I think I found what the cause is.
This may not be the solution (& I am sure you can find better way.)

In my way, I made two things changed.
(1) location of user_config.py.
the "user_config.py" originally created under
/open-worm-analysis-toolbox/open-worm-analysis-toolbox.
But I moved the user_config.py to /open-worm-analysis-toolbox (one
directory above)

(2) modifying a line in test_setup.py i

[2017-06-14 15:42] tacaswell commented on #151
:disappointed:

[2017-06-15 01:18] MichaelCurrie commented on #202
Working on this at the https://github.com/openworm/open-worm-analysis-toolbox/tree/WCON-fixes branch.

[2017-06-15 02:26] MichaelCurrie commented on #205
Hi @akihirom2017, I've run `tools/test_setup.py` and I found a couple of things were out of date, like testing for `shapely` which we no longer use.  If you try running it now it should work.

One thing to confirm is you should have your `user_config.py` NOT in the directory above but in `/open-worm-analysis-toolbox/open-worm-analysis-toolbox/user_config.py`  Here's my setup:

![image](https://use

[2017-06-15 02:45] MichaelCurrie commented on #205
BTW @akihirom2017 if you are not planning to do development work on the repository, I recommend you simply install it from PyPI:

[](https://pypi.python.org/pypi/open_worm_analysis_toolbox)

[2017-06-15 05:33] ver228 commented on #205
Sometimes pip breaks conda...

[2017-06-22 12:09] akihirom2017 commented on #205
Thanks for the tips, Michel and ver228

I think I could installed open-worm-analysis toolbox on ubuntu.
however, the same problem reimans to run the program.

I mean, I following the usage example describe in https://github.com/
openworm/open-worm-analysis-toolbox.

aki@ubuntu:~/Documents/Programs/open-worm-analysis-
toolbox/open_worm_analysis_toolbox/prefeatures$ python
Python 3.6.1 |Continuum An

[2017-06-25 23:15] MichaelCurrie commented on #205
Hi @akihirom2017 I have been at the worm meeting this past week and I am traveling for the next two days but I will respond when I get back.  Thanks!

[2017-06-26 07:29] akihirom2017 commented on #205
Thanks, Michael.

I really appreciate about this.

Best

On Mon, Jun 26, 2017 at 12:15 AM, Michael Currie <notifications@github.com>
wrote:

[2017-07-05 14:36] akihirom2017 commented on #205
Is there any update? or can I try different datasets rather than
example_contour_and_skeleton_info.mat or the files shown in example section?

Thank you very much.

Sincerely

On Mon, Jun 26, 2017 at 8:29 AM, akihiro mori <i.have.dream@gmail.com>
wrote:

[2017-07-05 14:50] MichaelCurrie commented on #205
Sorry for the delay, I will hope to look at this on the weekend in 3 or 4 days.  Otherwise perhaps @JimHokanson can help.

[2017-07-05 15:41] akihirom2017 commented on #205
Thank you.

Best regards

On Wed, Jul 5, 2017 at 3:50 PM, Michael Currie <notifications@github.com>
wrote:

[2017-07-05 19:20] JimHokanson commented on #205
@akihirom2017

Sorry for the delay, things have been way too hectic on my end.

Regarding the file, our code doesn't automatically append the example path to your inputs. The example path is just used to facilitate running of the examples, which internally look for the example path and then append various file names, assuming those to be present in that folder.

For example in "examples/get_pandas

[2017-07-10 18:42] akihirom2017 commented on #205
Thanks for the tips, Jim

(1)

example_data/example_contour_and_skeleton_info.mat")
Although I tested with full path, it did not work.

Here is the error message

mv.BasicWorm.from_schafer_file_factory("/home/amori/example_data/example_contour_and_skeleton_info.mat")
Traceback (most recent call last): File "<stdin>", line 1, in <module> File
"/home/amori/open-worm-analysis-toolbox/open_worm_analys

[2018-05-30 01:00] JimHokanson commented on #187
I found a few bugs in the Travis CI code. It still seems like the whole process could be simplified even more ...

For OpenCV I transitioned to using a version from conda, rather than building, which shaves 20 minutes off the test time.

For reference I think the error might have been with a hardcoded python version path ...

[2018-05-30 01:00] #187 closed

[2018-05-30 01:02] JimHokanson commented on #175
This voodoo has been removed since we can now pull opencv from conda.

[2018-05-30 01:02] #175 closed

[2018-06-21 12:39] KyeongMinMOON opened #208 "First-time installation issues : importing prefeatures error"
Hello,

I am trying to use open worm analysis toolbox by using python 3.6 ver.
I installed this toolbox using pip3 and successfully installed this toolbox.
However, when I tried to use this toolbox by using spyder, this error message came out 'ModuleNotFoundError: No module named 'prefeatures' '.
I already checked essential packages for using this this toolbox.
So if i missed something, please  te

[2018-06-21 12:48] aexbrown commented on #208
@JimHokanson is probably best placed to help with your specific issue, but if you're interested in extracting feature from videos (rather than development based on the toolbox), I would recommend checking out @ver228's tracker that uses the toolbox:
http://ver228.github.io/tierpsy-tracker/

If you go to the releases page you can get Windows and Mac binaries to run the code:
https://github.com/ver2

[2018-06-21 13:31] ver228 commented on #208
I think the pip installer is broken. I would recommend you to clone the repository and use `python setup.py develop`. However you have to delete before the egg created when you used pip (it should be somewhere in your python installation) otherwise this will not work.

As @aexbrown  mention it might be easier to use the tierpsy-tracker.

[2018-06-21 16:29] JimHokanson commented on #208
@KyeongMinMOON I'll try and take a look at it later today. Can you clarify what part of the code base you were running?

[2018-06-22 01:38] JimHokanson commented on #208
@KyeongMinMOON

This error is coming up right away when trying to load the package. The only thing I can think of is that you are trying to run the init file directly. Can you tell me what command you were running and from what directory?

When installed properly just running the following is basically the only way to get your error, which even then I don't understand:
`import open_worm_analysis_t

[2018-06-22 03:52] KyeongMinMOON commented on #208
@JimHokanson

Thank you for your help.

I just followed basic example : ### import open_worm_analysis_toolbox as mv. Then this error came out.
I checked pip installer working properly, so i don't know what is wrong.

I want to know what files or directories installed when using pip install open_worm_analysis_toolbox.
Inside of my site-packages\open_worm_analysis_toolbox, I can see _pycache_ direct

[2018-06-22 03:57] KyeongMinMOON commented on #208
I found some typo. I question 'ModuleNotFoundError: No module named 'prefeatures' ' message came out. However, exact error message was this  'ModuleNotFoundError: No module named 'open_worm_analysis_toolbox.prefeatures''
I am sorry to give you wrong error message.

Thank you

[2018-06-22 08:48] JimHokanson commented on #208
@KyeongMinMOON What version of Python are you using?

[2018-06-22 08:53] JimHokanson commented on #208
@KyeongMinMOON It looks like the pip version is woefully out of date. I'll look into updating it and let you know when that happens.

[2018-06-22 12:15] KyeongMinMOON commented on #208
@JimHokanson
I use 3.6.5 version anaconda and 3.5.3 version python to do this.
I'll check again my pip installer first.

Thank you

[2018-06-28 16:28] JimHokanson commented on #208
@KyeongMinMOON I was just given pypi access so I'm working on figuring out how to update the package. In the mean time cloning the repository from GitHub should fix your issue. Instructions for adding a user config file and getting the example files need to be updated. I'll try and look at these issues this weekend.

[2018-06-29 01:58] KyeongMinMOON commented on #208
@JimHokanson I greatly appreciate your help.

[2018-07-08 14:12] JimHokanson commented on #208
@KyeongMinMOON

Ok I updated the package on pypi. The instructions on retrieving the example files and setting up the user config file need to be updated. Basically you need to copy the example config file to user_config.py in the same directory. The example files are on Google Drive at https://drive.google.com/drive/folders/1PvLyeGwVDbzsBFmhVacb_-PF9nOzbTph

and currently need to be manually down

[2018-07-16 09:30] KyeongMinMOON commented on #208
@JimHokanson

Hi!
I did re-install of OWAT by using pip and i tried to do example.
However, still same problem has occurred. I really don't know what happened.
This is the message that i got.
"ModuleNotFoundError: No module named 'open_worm_analysis_toolbox.prefeatures'"
If i missed something, please tell me.

Thank you

[2018-07-17 14:22] JimHokanson commented on #208
@KyeongMinMOON

I'll have to try it again myself to see if I run into the same problem.

[2018-07-19 13:50] JimHokanson commented on #208
@KyeongMinMOON

I'll need to look into the WCON pipeline a bit. The initial pipeline was to support old files from the Schafer lab. I believe @MichaelCurrie  added WCON importing support for the pipeline. The other packages that you mention were some initial attempts at importing more generic worm tracings for analysis. I believe our recommended approach for handling that might involve the Tierpsy

[2018-07-19 23:46] KyeongMinMOON commented on #208
@JimHokanson

Then, I am going to install Tierpsy tracker first. And also, I will try to install OWAT using other python tool like pycharm or anaconda.

Thank you

[2018-08-06 23:29] JimHokanson commented on #208
@KyeongMinMOON

Sorry for the delay, things have been too busy here lately. I got a chance to look at the pip code and I noticed we were only uploading the root package,  not any packages in the root package. This has been fixed. The code should now run but will probably throw a different error indicating that the user config is missing or that the example files are missing. This still needs to be

[2018-08-15 17:01] tshao87 opened #209 "First-time installation issues: can't run video_to_features.py"
Hello,

I have installed OWAT on my computer and configured by following the instruction. I have also downloaded the example data from Google Drive. The tools/test_setup.py can run without any issues and I can also get some of the tests to run. However, when I try to run video_to_features.py, it output the following error messages:

  b = a[a_slice]
C:\Programs\Python\Python37-32\lib\site-packages

[2018-08-15 19:46] JimHokanson commented on #209
@tshao87

I'll try and replicate your result. Thanks.

[2018-08-21 05:12] cheelee opened #210 "OWAT to generate features from WCON files."
Getting OWAT to, in a user friendly way, go from WCON to features.

[2018-08-23 14:04] JimHokanson commented on #210
This is on my long list of things to look into. I thought this had been solved already, I was merely going to focus on documenting it more clearly ...

[2018-08-23 23:54] cheelee commented on #210
Hi @JimHokanson ! That's great! We could review what needs doing, and then schedule it for some love this coming month as part of the "Movement Validation Month" hackathon activities. If there's stuff others can help you with here (e.g. testing things out etc ...,) we could create tasks for it.

[2018-08-27 13:43] JimHokanson commented on #209
@tshao87

I fixed a couple of bugs that were due to changes in numpy behavior. I still need to fix a few things with getting proper setup but hopefully things will be ready in the next couple of days.

[2018-09-03 01:40] cheelee opened #212 "Integration of Production-Ready Code base with OpenWorm's Docker Image Repo."
This is probably a good thing to have - the inclusion of our tools and capabilities in OpenWorm's main Docker image repo where we point users to use/demo our functioning code.

I imagine this should be tied to releases of our code base.

[2018-09-04 15:10] JimHokanson commented on #209
@tshao87

Just checking in ...

I'm ending up needing to rewrite a lot of the post-processing statistics code. I'm almost done but there is still a bit more work to do. I'm not sure why these bugs weren't found earlier in testing ... I'll let you know as soon as it is ready to go.

[2018-09-04 16:53] tshao87 commented on #209
@JimHokanson

No problem. Thanks for keeping me posted.

[2018-09-15 14:44] JimHokanson commented on #209
@tshao87

The examples should work now, including the referenced example. I've marked a couple as not working as well at the top of the files. If it works for you please close this issue.

For reference to everyone on changes made:
1. The previous code had poor nan support. It makes me wonder if the numpy interface changed ...
2. The referenced example was working with un-extended features, which

[2020-12-14 04:13] woobin3069 opened #215 "First time installation issue - AttributeError: 'Dataset' object has no attribute 'value'"
Hello, I was trying to use code;

[code]

but, the error occurred.

`AttributeError: 'Dataset' object has no attribute 'value'`

I think it is because of Dataset, but I don't now what to do.
Thank you very much for your help.
Sincerely

[2021-03-11 17:29] Athene-ai commented on #93
I can contribute on this :)

[2021-03-13 01:28] mwatts15 commented on #93
Pull requests are welcome

On Thu, Mar 11, 2021, 11:30 Daniela ***@***.***> wrote:

[2021-03-13 10:38] Athene-ai commented on #93
Thanks :)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Mail
priva di virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Sat, 13 Mar 2021 at 06:58, Mark Watts ***@***.***> wrote: